{% load i18n %}

{% autoescape off %}
  {% blocktrans %}You're receiving this e-mail because you created an account at {{ site_name }}.{% endblocktrans %}

  {% trans "You can activate your account at the following page:" %}
  {% block reset_link %}{{ protocol }}://{{ domain }}{% url 'account:activate' uidb64=uid token=token %}{% endblock %}
  {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

  {% blocktrans %}Thank you for using {{ site_name }}!{% endblocktrans %}
{% endautoescape %}
