{% load i18n %}
{% load static %}
{% load inlinecss %}
{% inlinecss "css/email.css" %}

{% autoescape off %}
<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>{% trans "Your order has been confirmed!" %}</title>
  </head>

  <body>
    <table class="body">
      <table class="container">
        <tr>
          <td>
            <img src="{{ site_name }}{% static 'images/tbs-email-logo.jpg' %}" alt="tbs logo">
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            {% blocktrans %}You're receiving this e-mail because you created an account at {{ site_name }}.{% endblocktrans %}
            <br>
            <br>
            {% trans "You can activate your account at the following page:" %}
            <br>
            <br>
            {% block reset_link %}{{ protocol }}://{{ domain }}{% url 'account:activate' uidb64=uid token=token %}{% endblock %}
            <br>
            <br>
            {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
            <br>
            <br>
            {% blocktrans %}Thank you for using The Brush Stash!{% endblocktrans %}
            <br>
          </td>
        </tr>
      </table>
    </table>
  </body>
<html>
{% endautoescape %}
{% endinlinecss %}
