{% extends 'thebrushstash/auth_base.html' %}
{% load i18n %}

{% block title %}
  {{ block.super }} - {% trans "Success" %}
{% endblock %}

{% block auth_content %}
  {% if authenticated %}
    <h1>{% trans "Success" %}</h1>
    <p>
      {% trans "Your account has been successfully activated, but you still need a password. Pick a strong one!" %}
    </p>

    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {% trans "Password" as field_label %}
      {% trans "This field is required." as field_error %}
      {% include 'account/includes/custom_form_field.html' with field=form.password1 label=field_label error=field_error field_type='password' %}

      {% trans "Repeat password" as field_label %}
      {% trans "This field is required." as field_error %}
      {% include 'account/includes/custom_form_field.html' with field=form.password2 label=field_label error=field_error field_type='password' %}

      <button>
        {% trans "Submit" %}
      </button>
    </form>
  {% else %}
    <h1>{% trans "Great failure" %}</h1>
    <p>
      {% trans "Your activation token is not valid." %}
    </p>
  {% endif %}
{% endblock auth_content %}
