{% extends 'thebrushstash/auth_base.html' %}

{% block title %}
  {{ block.super }} - Verification Email Sent
{% endblock %}

{% block auth_content %}
  {% if user.is_authenticated %}
    You already have an account and are currently logged in. Why don't you check out <a href="{% url 'shop:shop-home' %}">some brushes</a>?
  {% else %}
    <h1>Verification Email Sent</h1>
    <p>
      We've sent you a verification email. Check your inbox and click on the link to complete the registration.
    </p>
  {% endif %}
{% endblock auth_content %}
