{% extends 'thebrushstash/auth_base.html' %}
{% load i18n %}

{% block title %}
  {{ block.super }} - {% trans "Verification e-mail Sent" %}
{% endblock %}

{% block auth_content %}
  {% if user.is_authenticated %}
    <p>
      {% url 'shop:shop' as shop_url %}
      {% blocktrans %}You already have an account and are currently logged in. Why don't you check out some <a href="{{ shop_url }}">brushes</a>?{% endblocktrans %}
    </p>
  {% else %}
    <h1>{% trans "Verification e-mail Sent" %}</h1>
    <p>
      {% trans "We've sent you a verification e-mail. Check your inbox and click on the link to complete the registration." %}
    </p>
  {% endif %}
{% endblock auth_content %}
