{% extends 'thebrushstash/auth_base.html' %}
{% load i18n %}

{% block title %}
  {{ block.super }} - {% trans "Register" %}
{% endblock %}

{% block auth_content %}
  {% if user.is_authenticated %}
    <p>
      {% url 'shop:shop' as shop_url %}
      {% blocktrans %}You already have an account and are currently logged in. Why don't you check out some <a href="{{ shop_url }}">brushes</a>?{% endblocktrans %}
    </p>
  {% else %}
    <h1>{% trans "Register" %}</h1>
    <p>
      {% blocktrans %}Provide us with an e-mail address so we can send you an activation link for your account.{% endblocktrans %}
    </p>
    <form method="post" id="register-form">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {% trans "E-mail address" as field_label %}
      {% trans "Type in a valid e-mail address." as field_error %}
      {% include 'account/includes/custom_form_field.html' with field=form.email label=field_label error=field_error %}

      <button type="submit" id="register-button">
        {% trans "Send me my activation link" %}
      </button>
    </form>
  {% endif %}
{% endblock auth_content %}
