{% load static %}
{% load thebrushstash_tags %}

<div class="credit-card-secure-logo-wrapper">
  {% for credit_card_secure_logo in credit_card_secure_logos %}
    <div id="{{ credit_card_secure_logo.location }}" class="credit-card-secure-logo">
      {% media_object obj=credit_card_secure_logo size='original' %}
    </div>
  {% endfor %}

  <div id="mastercard-modal" class="credit-card-secure-modal" hidden>
    <h1>
      Introducing...
      <img src="{% static 'images/mastercard_secure.jpg' %}">
      <span class="close-modal-button">
        &times;
      </span>
    </h1>
    <p>
      MasterCard® SecureCode™ is a new service from MasterCard and your card issuer that provides added protection when you buy online. There is no need to get a new MasterCard or Maestro® card. You choose your own personal MasterCard SecureCode and it is never shared with any merchant. A private code means added protection against unauthorized use of your credit or debit card when you shop online.
    </p>
    <p>
      Every time you pay online with your MasterCard or Maestro card, a box pops up from your card issuer asking you for your personal SecureCode, just like the bank does at the ATM. In seconds, your card issuer confirms it's you and allows your purchase to be completed.
    </p>
    <p>
      To find out more about MasterCard SecureCode go to
      <a href="http://www.mastercardsecurecode.com" target="_blank" rel="noopener noreferrer">www.mastercardsecurecode.com</a>.
    </p>
    <img src="{% static 'images/mastercard_logo.jpg' %}">
    <img src="{% static 'images/maestro_logo.jpg' %}">
  </div>

  <div id="visa-modal" class="credit-card-secure-modal" hidden>
    <h1>
      Same card, added safety online.
      <img src="{% static 'images/visa_secure.jpg' %}">
      <span class="close-modal-button">
        &times;
      </span>
    </h1>
    <p>
      Verified by Visa is a new service that lets you shop online with added confidence.
    </p>
    <p>
      Through a simple checkout process, Verified by Visa confirms your identity when you make purchases at participating online stores. It's convenient and it works with your existing Visa card.
    </p>
    <p>
      Plus, Verified by Visa is a snap to use. You register your card just once, and create your own password. Then, when you make purchases at participating online stores, a Verified by Visa window will appear. Simply enter your password and click submit. Your identity is verified and the purchase is secure.
    </p>
    <p>
      To activate Verified by Visa in your Visa card, or to learn more, contact the financial institution that issued your Visa card.
    </p>
    <p>
      Click
      <a href="http://www.visaeu.com" target="_blank" rel="noopener noreferrer">www.visaeu.com</a>
      for more information.
    </p>
  </div>

  <div id="american-express-modal" class="credit-card-secure-modal" hidden>
    <img src="{% static 'images/american_express_secure.jpg' %}">
    <h1>
      Online Fraud Protection Guarantee
      <span class="close-modal-button">
        &times;
      </span>
    </h1>
    <h2>Shop with confidence</h2>
    <p>
      Shop online with confidence when you pay with the American Express® Card*. We'll stand behind your online purchase just as we do when you purchase items over the phone or in person. So you can make purchases with confidence anywhere on the Internet.
    </p>
    <p>
      You can still feel confident using your American Express Card* online.
    </p>
    <p>
      Our guarantee
      <br>
      When you use the American Express Card* you will not be held responsible for unauthorized charges online**.
    </p>
    <p>
      In fact, American Express takes specific measures to protect your safety and privacy online:
      <ul>
        <li>We use the latest technology to keep your account number secure.</li>
        <li>We have a clearly stated online privacy protection policy and we stand by it.</li>
      </ul>
    </p>
    <p class="fine-print">
      * Offered in select countries at issuer discretion. Please contact the issuer of your American Express Card for details.
      <br>
      ** Provided you notify us immediately upon discovery of any fraudulent transactions and you have compiled with the Card Conditions, you will not be held liable for any charges. Immediately means as soon as you are aware but no later than on or before the due date of the statement in which the fraudulent transaction appears.
    </p>
  </div>
</div>
