{% load i18n %}
{% load thebrushstash_tags %}

{% if not hide_social %}
  <div class="social-wrapper">
    <div class="social-inner-wrapper">
      {% for footer_share_link in footer_share_links %}
        <a class="social-link" href="{{ footer_share_link.location }}" target="_blank" rel="noopener noreferrer">
          <span class="social-icon {{ footer_share_link.css_class }}"></span>
          {% trans 'Follow us on' %}
          {% if LANGUAGE_CODE == 'hr' %}
            {{ footer_share_link.name_cro }}
          {% else %}
            {{ footer_share_link.name }}
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>

  {% newsletter_tag %}
{% endif %}

<div class="footer-nav-wrapper">
  <div class="footer-inner-wrapper">
    {% for footer_item in footer_items %}
      <a href="{{ footer_item.location }}">
        {% if LANGUAGE_CODE == 'hr' %}
          {{ footer_item.name_cro }}
        {% else %}
          {{ footer_item.name }}
        {% endif %}
      </a>
    {% endfor %}
  </div>
</div>

{% credit_card_logos_tag %}

<div class="copyright-wrapper">
  <div class="copyright-claim">
    {% now 'Y' %} &copy; {% trans 'The Brush Stash. All rights reserved.' %}
  </div>
</div>
