{% if object.image and not hidden %}
  <div id="{{ object.pk }}" class="image-wrapper {% if object.youtube_video_id %}video{% endif %}">
    <picture>
      <source
        srcset="{{ webp_srcset }}"
        type="image/webp"
      >
      <source
        srcset="{{ jpg_srcset }}"
        type="image/jpg"
      >
      <img
        srcset="{{ jpg_srcset }}"
        src="{{ object.image.url }}"
        alt="{{ object.name }}"
        class="picture"
      >
    </picture>

    {% if object.youtube_video_id %}
      <div class="video-wrapper" data-size="{{ size }}" {% if object.youtube_video_id %}data-youtube-video-id="{{ object.youtube_video_id }}"{% endif %}></div>
    {% endif %}
  </div>
{% endif %}
