{% if object.image %}
  <div id="{{ object.pk }}" {{ class_list|safe }} {% if hidden %} hidden{% endif %}>
    <picture>
      <source
        srcset="{{ webp_srcset }}"
        type="image/webp"
      >
      <source
        srcset="{{ jpg_srcset }}"
        type="image/jpg"
      >
      <img
        srcset="{{ jpg_srcset }}"
        src="{{ object.image.url }}"
        alt="{{ object.name }}"
        class="picture"
      >
    </picture>

    {% if object.youtube_video_id %}
      <div id="{{ object.pk }}" class="video-wrapper" {% if object.youtube_video_id %}data-youtube-video-id="{{ object.youtube_video_id }}"{% endif %}></div>
    {% endif %}
  </div>
{% endif %}
