<div class="navigation-wrapper">
  <ul class="inner-wrapper">
    {% for navigation_item in navigation_items %}
      <li class="nav-item{% if navigation_item.css_class %} {{ navigation_item.css_class }}{% endif %}">
        <a href="{{ navigation_item.location }}" {% if current_url == navigation_item.location %} class="active"{% endif %}>
          {{ navigation_item.name }}
        </a>
      </li>
      <span class="nav-divider"></span>
    {% endfor %}
    <li class="nav-item-log-in-register">
      <a href="/login/">
        <span class="user-icon"></span>
        Login/Register
      </a>
    </li>
    <li class="nav-item-bag">
      <a href="/bag/" class="bag-link" {% if current_url == navigation_item.location %} class="active"{% endif %}>
        <span class="bag-icon"></span>
        Bag
        <span class="bag-item-count">
          {{ bag.total_quantity|default:"0" }}
        </span>
      </a>
      {% include 'thebrushstash/includes/bag.html' %}
    </li>
  </ul>
</div>
