{% load i18n %}

<div class="ship-to-wrapper">
  <label for="language-form-select" class="text">
    {% trans 'Region:' %}
  </label>

  <form id="language-form-mobile" class="language-form-mobile" action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input id="language-input-mobile" name="language" type="hidden" value="hr">

    <select id="language-form-select">
      <option value="{{ selected_region.name }}" name="language">{{ selected_region.name|upper }}</option>
      {% for region in regions %}
        <option value="{{ region.name }}" name="language">
          {{ region.name|upper }}
        </option>
      {% endfor %}
    </select>
  </form>
</div>
