{% load i18n %}
{% load static %}

<div class="ship-to-wrapper">
  <div class="ship-to-select-wrapper">
    <span class="text">
      {% trans 'Ship to:' %}
    </span>
    <a class="ship-to-select" href="/">
      <span class="flag-icon {{ selected_region.name }}"></span>
      {{ selected_region.name }}
    </a>
  </div>
  <div class="ship-to-menu" hidden>
    <form id="language-form" action="{% url 'set_language' %}" method="post">
      {% csrf_token %}
      <input id="language-input" name="language" type="hidden" value="hr">

      {% for region in regions %}
        <a class="language-option" href="/" data-language="{{ region.language }}" data-region="{{ region.name }}">
          <span class="flag-icon {{ region.name }}"></span>
          {{ region.name|upper }}
        </a>
      {% endfor %}
    </form>
  </div>
</div>
