{% load static %}

<div class="ship-to-wrapper">
  <div class="ship-to-select-wrapper">
    <span class="text">Ship to:</span>
    <a class="ship-to-select" href="/">
      <span class="flag-icon {{ selected_region }}"></span>
      {{ selected_region }}
    </a>
  </div>
  <div class="ship-to-menu" hidden>
    <form id="language-form" action="{% url 'set_language' %}" method="post">
      {% csrf_token %}
      <input id="language-input" name="language" type="hidden" value="hr">

      {% for key, data in regions.items %}
        <a class="language-option" href="/" data-language="{{ data.language }}" data-region="{{ key }}">
          <span class="flag-icon {{ key }}"></span>
          {{ key|upper }}
        </a>
      {% endfor %}
    </form>
  </div>
</div>
