{% load i18n %}

<div class="ship-to-wrapper">
  <label for="{{ prefix }}language-form-select" class="label-text">
    {% trans 'Region:' %}
  </label>

  <form class="language-forms-mobile" action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input class="language-inputs-mobile" name="language" type="hidden" value="hr">

    <select id="{{ prefix }}language-form-select">
      <option value="{{ selected_region.name }}">{{ selected_region.name|upper }}</option>
      {% for region in regions %}
        <option value="{{ region.name }}">
          {{ region.name|upper }}
        </option>
      {% endfor %}
    </select>
  </form>
</div>
