certifi==2019.11.28
chardet==3.0.4
Django==2.2.8
django-debug-toolbar==2.1
django-extensions==2.2.5
django-webpack-loader==0.6.0
djangorestframework==3.10.3
idna==2.8
Pillow==6.2.1
pipdeptree==0.13.2
psycopg2-binary==2.8.4
Pygments==2.5.2
python-dotenv==0.10.3
python-memcached==1.59
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
webptools==0.0.2
