asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
Django==3.1.1
django-anymail==8.0
django-webpack-loader==0.7.0
djangorestframework==3.11.1
Pillow==7.2.0
psycopg2-binary==2.8.6
Pygments==2.7.1
python-dotenv==0.14.0
python-memcached==1.59
pytz==2020.1
requests==2.24.0
requests-pkcs12==1.8
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
webptools==0.0.2
