{% extends 'thebrushstash/auth_base.html' %}

{% block title %}
  {{ block.super }} - Login
{% endblock %}

{% block auth_content %}
  {% if user.is_authenticated %}
    You are logged in and ready to buy some <a href="{% url 'shop:shop' %}">awesome brushes</a>

    Unless you'd like to <a href="{% url 'logout' %}">logout</a> instead.
  {% else %}
    <h1>Login</h1>
    <p>
      Don't have an account?
      <a href="{% url 'account:register' %}" class="register">Register here</a>
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {% include 'account/includes/form_field.html' with field=form.username %}
      {% include 'account/includes/form_field.html' with field=form.password type='password' %}

      <button type="submit">
        Login
      </button>

      <p class="reset-password">
        <a href="{% url 'password_reset' %}">
          Forgot your password?
        </a>
      </p>
    </form>
  {% endif %}
{% endblock auth_content %}
