{% extends 'thebrushstash/auth_base.html' %}
{% load i18n %}

{% block title %}
  {{ block.super }} - {% trans "Reset Password" %}
{% endblock %}

{% block auth_content %}
  {% if user.is_authenticated %}
    {% trans "You are currently logged in." %}
  {% else %}
    <h1>{% trans "Reset Password" %}</h1>
    <p>
      {% trans "Type in the e-mail which you used to register and we'll send you a password reset link." %}
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {% trans "E-mail address" as field_label %}
      {% trans "Type in a valid e-mail address." as field_error %}
      {% include 'account/includes/custom_form_field.html' with field=form.email label=field_label error=field_error %}

      <button type="submit">
        {% trans "Reset Password" %}
      </button>
    </form>
  {% endif %}
{% endblock auth_content %}
