{% extends 'thebrushstash/auth_base.html' %}
{% load i18n %}

{% block title %}
  {{ block.super }} - Reset Email Sent
{% endblock %}

{% block auth_content %}
  <h1>Password Reset Email Sent</h1>
  <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

  <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
{% endblock auth_content %}
