{% extends 'thebrushstash/auth_base.html' %}
{% load i18n %}

{% block title %}
  {{ block.super }} - {% trans "Reset Password" %}
{% endblock %}

{% block auth_content %}
  {% if user.is_authenticated %}
    {% trans "You are currently logged in." %}
  {% else %}
    <h1>{% trans "Reset Password" %}</h1>
    <p>
      {% trans "Type in the e-mail which you used to register and we'll send you a password reset link." %}
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="field-wrapper">
        <label for="{{ field.id_for_label }}" class="screen-reader-only">{% trans "E-mail" %}</label>
        <input type="email" name="email" autofocus required id="id_email" placeholder="{% trans "E-mail" %}">
        {{ form.email.errors }}
      </div>

      <button type="submit">
        {% trans "Reset Password" %}
      </button>
    </form>
  {% endif %}
{% endblock auth_content %}
