{% extends 'thebrushstash/auth_base.html' %}
{% load i18n %}

{% block title %}
  {{ block.super }} - {% trans "Set new password" %}
{% endblock %}

{% block auth_content %}
  {% if validlink %}
    <h1>{% trans "Set new password" %}</h1>
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form method="post">
      {% csrf_token %}

      {% trans "Password" as field_label %}
      {% trans "This field is required." as field_error %}
      {% include 'account/includes/custom_form_field.html' with field=form.new_password1 label=field_label error=field_error field_type='password' %}

      {% trans "Repeat password" as field_label %}
      {% trans "This field is required." as field_error %}
      {% include 'account/includes/custom_form_field.html' with field=form.new_password2 label=field_label error=field_error field_type='password' %}

      <button type="submit">
        {% trans "Set new password" %}
      </button>
    </form>

  {% else %}
    <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
  {% endif %}
{% endblock %}
