{% extends 'thebrushstash/auth_base.html' %}

{% block title %}
  {{ block.super }} - Reset Password
{% endblock %}

{% block auth_content %}
  {% if user.is_authenticated %}
    You are currently logged in.
  {% else %}
    <h1>Reset password</h1>
    <p>
      Type in the email which you used to register and we'll send you a password reset link.
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {% include 'account/includes/form_field.html' with field=form.email %}

      <button type="submit">
        Reset password
      </button>
    </form>
  {% endif %}
{% endblock auth_content %}
