.bag
  display: flex
  flex-direction: column
  position: absolute
  top: 51px
  right: -30px
  width: 248px
  padding: 20px
  background-color: #fff
  box-shadow: $boxShadow
  z-index: 2
  transition: $transitionDuration

  &.bag-hide
    opacity: 0
    pointer-events: none

  .bag-header
    display: flex
    justify-content: space-between

  .bag-product-remove
    font-size: 24px
    cursor: pointer

  .bag-product-header,
  .bag-product-content
    display: flex
    justify-content: space-between

  .bag-product-header
    margin-top: 10px

  .bag-product-name
    margin-top: 5px

  a
    padding: 10px 0
    margin: 30px 0 0
    color: #fff
    background-color: #000
    text-align: center

    &:hover
      background-color: #333

.review-bag-title
  margin: -50px $gutter 0
  font-family: $bodyFont
  font-size: 20px
  line-height: 24px
  text-transform: uppercase

.review-bag-wrapper
  display: flex
  margin: 28px $gutter 135px

  .bag-content-wrapper
    flex: 5 1 0px
    margin-right: 30px

    .bag-content-headers
      display: flex
      justify-content: space-between
      border: 1px solid rgba(0, 0, 0, .03)
      background-color: rgba(0, 0, 0, .03)

      span
        font-size: 11px
        font-weight: $heavy
        line-height: 13px
        text-transform: uppercase
        padding: 10px 25px

        &:first-child
          width: 50%

  .bag-content
    display: flex
    flex-direction: column

    .bag-item-row
      padding: 3px 0 3px 6px
      display: flex
      justify-content: space-between
      align-items: center
      border-bottom: 1px solid rgba(0, 0, 0, .1)

      .image-wrapper
        width: 140px
        height: 140px

      .bag-product-and-price,
      .bag-subtotal
        display: flex
        flex-direction: column

      .bag-product-and-price
        margin: 0 auto 0 30px

        .bag-product-name
          font-family: $headerFont
          font-size: 20px
          font-weight: $heavy
          line-height: 26px
          padding: 0 0 8px 0

        .bag-product-price
          font-size: 15px
          line-height: 18px

      .bag-subtotal
        padding: 0 25px

        .bag-product-remove
          font-size: 16px
          color: #fff
          cursor: pointer
          position: relative
          text-align: right
          width: 10px
          margin: 2px 0px 0 auto
          padding-right: 3px

          &:before
            content: ''
            position: absolute
            top: 3px
            right: 0px
            border: 8px solid #000
            border-radius: 50%
            z-index: -1

        .bag-product-subtotal
          font-size: 15px
          font-weight: $heavy
          line-height: 18px
          text-align: right
          margin-top: 13px

      .bag-product-quantity
        font-size: 15px
        font-weight: $heavy
        line-height: 18px
        text-align: center
        margin: 32px 7% 0 0
        width: 30px

  .summary-wrapper
    flex: 3 1 0px
    background-color: #000
    text-align: center

    h2
      font-family: $bodyFont
      text-transform: uppercase
      color: #fff
      padding: 30px
      text-align: left

    .summary-row
      font: $bodyFont
      text-transform: uppercase
      display: flex
      justify-content: space-between
      color: #fff
      padding: 0 30px

    .summary-check-out-button
      background-color: $green
      font-size: 16px
      text-align: center
      height: 54px
      width: calc(100% - 60px)
      margin: 0 30px

    .summary-continue-shopping-link
      color: #858585
      font-family: $bodyFont
      font-size: 11px
      line-height: 13px
      text-transform: uppercase
      text-decoration: underline

      &:hover
        opacity: $hoverOpacity
