@import './icons/ipgLogoIcon.sass'

.bag
  display: flex
  flex-direction: column
  position: absolute
  top: 42px
  right: -25px
  width: 300px
  background-color: #fff
  z-index: 2
  transition: $transitionDuration
  box-shadow: $boxShadow

  &.bag-hide
    opacity: 0
    pointer-events: none

  .bag-header
    display: flex
    justify-content: space-between
    padding: 11px 15px
    margin-bottom: 5px
    border: 1px solid $colorLightGrey
    background-color: $colorLightGrey
    font-size: 11px
    font-weight: $heavy
    line-height: 13px
    text-transform: uppercase

  .bag-product
    display: flex
    justify-content: space-between
    margin: 0 25px 0 16px
    padding: 17px 0
    border-bottom: 1px solid $colorLightGrey

    &:last-of-type
      border: 0

  .bag-product-image
    margin-right: 14px

    .image-wrapper
      width: 50px
      height: 50px
      pointer-events: none

  .bag-product-content
    display: flex
    flex-direction: column
    width: 100%
    text-transform: initial

  .bag-product-header
    position: relative
    display: flex
    justify-content: space-between

    .bag-product-name
      margin-top: 2px
      font-family: $headerFont
      font-size: 16px
      font-weight: $heavy
      line-height: 22px
      width: 180px
      overflow: hidden
      text-overflow: ellipsis

    .bag-product-remove
      &:before
        @extend %background-circle-icon
        top: 21%

      &:after
        @extend %circle-icon-content
        content: '\00D7'

  .bag-product-stats
    display: flex
    justify-content: space-between
    margin-top: 7px
    font-size: 12px
    font-weight: $regular
    letter-spacing: -0.3px
    line-height: 15px

    .bag-product-quantity
      width: 75px

  .review-bag-link
    display: block
    font-family: $bodyFont
    font-size: 12px
    line-height: 15px
    padding: 10px 0
    margin: 10px 15px 15px
    color: #fff
    background-color: $colorBlue
    text-align: center
    text-transform: uppercase

    &:hover
      background-color: $colorDarkBlue

    &.hidden
      display: none

.review-bag-title
  margin: -50px $gutter 0
  font-family: $bodyFont
  font-size: 20px
  line-height: 24px
  text-transform: uppercase

.review-bag-wrapper
  display: flex
  margin: 28px $gutter 135px

  .review-bag-mobile-ship-to-wrapper
    display: none

  .bag-content-wrapper
    flex: 7 1 0px
    margin-right: 30px

    .bag-content-headers
      display: flex
      justify-content: space-between
      border: 1px solid rgba(0, 0, 0, .03)
      background-color: rgba(0, 0, 0, .03)
      white-space: nowrap

      span
        font-size: 11px
        font-weight: $heavy
        line-height: 13px
        text-transform: uppercase
        margin: 10px 0 0 11%
        min-width: 60px

        &:first-child
          margin: 10px 25px

        &:last-child
          margin: 10px 25px
          text-align: right

  .bag-content
    display: flex
    flex-direction: column

    .bag-item-row
      padding: 3px 0 3px 6px
      display: flex
      justify-content: space-between
      align-items: center
      border-bottom: 1px solid rgba(0, 0, 0, .1)

      &:last-child
        border: 0

      .image-wrapper
        width: 130px
        height: 130px
        margin: 15px 10px
        pointer-events: none

      .bag-product-and-price,
      .bag-subtotal
        display: flex
        flex-direction: column

      .bag-product-and-price
        width: 45%
        padding: 0 0 0 25px

        .bag-product-name
          font-family: $headerFont
          font-size: 20px
          font-weight: $heavy
          line-height: 26px
          margin-bottom: 5px

        .bag-product-price
          font-size: 15px
          line-height: 18px
          margin-bottom: 6px

      .bag-product-quantity
        position: relative
        font-size: 15px
        font-weight: $heavy
        line-height: 18px
        text-align: right
        margin: 26px 0 0 0
        padding: 0 15px 0 0
        width: 60px

        .bag-product-decrement
          &:before
            @extend %background-circle-icon
            top: 10%
            right: 38px

          &:after
            @extend %circle-icon-content
            content: '\2212'
            top: 0
            right: 41px

        .bag-product-increment
          &:before
            @extend %background-circle-icon
            top: 10%
            right: -10px

          &:after
            @extend %circle-icon-content
            content: '\002B'
            top: 0
            right: -7px

      .bag-subtotal
        position: relative
        width: 25%
        padding: 31px 0 0
        margin: 0 25px

        .bag-product-remove
          &:before
            @extend %background-circle-icon
            top: 10%

          &:after
            @extend %circle-icon-content
            content: '\00D7'

        .bag-product-subtotal
          font-size: 15px
          font-weight: $heavy
          line-height: 18px
          text-align: right
          margin-bottom: 6px

  .summary-wrapper
    @extend %summary-wrapper

.checkout-wrapper
  display: flex
  margin: -50px $gutter 120px

  .checkout-form-wrapper
    flex: 7 1 0px
    flex-direction: column
    margin-right: 30px

    .field-wrapper
      @extend %field-wrapper
      margin: 14px 0 30px
      max-width: $checkoutFormInputWidth

    .cash-on-delivery-wrapper,
    .paypal-wrapper,
    .credit-card-wrapper
      border: 1px solid rgba(0, 0, 0, .1)
      max-width: calc(#{$checkoutFormInputWidth} - 36px)
      padding: 23px 17px 0
      margin: 20px 0
      cursor: pointer
      position: relative
      height: 150px

      .ipg-logo-icon
        position: absolute
        top: 15px
        right: 15px
        width: 140px
        height: 34px
        background: url('data:image/svg+xml;base64,#{$ipgLogoIcon}') no-repeat center

      input,
      label
        cursor: pointer

      p
        font-size: 14px
        line-height: 17px
        margin: 0 0 15px

      a
        pointer-events: none

    .cash-on-delivery-wrapper
      height: 120px

    .checkout-checkbox-wrapper,
    .checkout-radio-wrapper
      display: flex
      padding-bottom: 15px

      input
        margin: 4px 10px 4px 3px
        padding: 30px

      label
        display: block
        font-size: 16px
        font-weight: $heavy
        line-height: 19px

    .checkout-address-title,
    .checkout-payment-title
      font-family: $bodyFont
      font-size: 20px
      font-weight: $heavy
      line-height: 24px
      text-transform: uppercase
      margin-bottom: 30px

      &.inactive
        border-top: $greyBorder
        border-bottom: $greyBorder
        opacity: 0.3
        padding: 20px 0
        max-width: $checkoutFormInputWidth

    .checkout-address-wrapper.inactive,
    .checkout-payment-wrapper.inactive
      display: none

    #cash-on-delivery-submit-wrapper.hidden
      display: none

    .checkout-address-wrapper,
    .checkout-payment-wrapper,
    .cash-on-delivery-submit-wrapper
      button:disabled
        opacity: 0.3
        pointer-events: none

        &:hover
          background-color: $colorDarkGreen

      .checkout-radio-wrapper,
      .checkout-radio-wrapper
        input
          pointer-events: none

    .checkout-help-text
      font-size: 16px
      line-height: 19px
      max-width: $checkoutFormInputWidth
      margin-top: 0

    .checkout-formfields
      margin-top: 30px

      .checkout-select-wrapper
        position: relative
        max-width: 480px

        &:after
          @extend %input-arrow
          top: 35%
          left: 92%
          border-color: #000 transparent transparent

        select
          @extend %hollow-select
          width: 100%
          margin: 0 0 16px
          max-width: #{$checkoutFormInputWidth}

      textarea
        width: 100%
        height: 100px
        max-width: calc(#{$checkoutFormInputWidth} - 2px)
        font-family: $bodyFont
        font-size: 16px
        line-height: 19px
        text-indent: 20px

        padding: 15px 0 1px
        border: $inputBorder
        border-radius: 0

    a
      color: #0165FF

    button
      @extend %summary-check-out-button
      width: 100%
      max-width: #{$checkoutFormInputWidth}
      margin: 10px 0 50px

      &:last-of-type
        margin: 30px 0 25px

      &.hidden
        display: none

    .previous-step-link
      color: $colorGrey
      font-family: $bodyFont
      font-size: 11px
      line-height: 13px
      text-transform: uppercase
      text-decoration: underline
      display: block
      text-align: center
      max-width: $checkoutFormInputWidth
      margin-bottom: 30px

      &:hover
        opacity: $hoverOpacity

  .summary-wrapper
    @extend %summary-wrapper
