@import './icons/footerIcons.sass'
@import './variables.sass'

.cookie-wrappper
  position: fixed
  bottom: 0
  right: 0
  width: 100%
  z-index: 1
  background-color: #fff
  box-shadow: $boxShadow

  .info
    margin: 0
    padding: 20px 50px

  .accept-cookie
    position: absolute
    top: 10px
    right: 30px
    font-size: 30px
    cursor: pointer

.social-wrapper
  border: $discreetBorder
  margin-top: 40px

  .inner-wrapper
    @extend %content-wrapper
    position: relative

    &:after
      content: ''
      position: absolute
      top: 9px
      left: 50%
      height: 32px
      width: 1px
      opacity: 0.2
      background-color: #000

    .social-link
      position: relative
      display: inline-block
      font-size: 16px
      font-weight: $heavy
      line-height: 20px
      margin: 16px auto

      &:hover
        opacity: $hoverOpacity

      .icon
        padding: 10px 16px
        margin-right: 7px
        height: 31px
        width: 31px

      .facebook
        background: url('data:image/svg+xml;base64,#{$facebookIcon}') no-repeat center

      .instagram
        background: url('data:image/svg+xml;base64,#{$instagramIcon}') no-repeat center

.newsletter-wrapper
  background-color: #f1f6ff

  .inner-wrapper
    @extend %content-wrapper
    align-items: center
    padding: 28px 0

    .info-wrapper
      margin: 15px 0 18px $gutter
      width: calc(50% - #{$gutter})

      .join-text
        margin: 0 50px 0 0
        font-size: 12px
        font-weight: $heavy
        line-height: 15px
        text-transform: uppercase

      .info-text
        margin: 10px 50px 0 0
        font-size: 22px
        font-weight: $heavy
        line-height: 27px

    .join-wrapper
      display: flex
      flex-flow: row nowrap
      margin-right: $gutter
      width: calc(50% - #{$gutter})

      .email-input
        border-top-left-radius: 1px
        border-bottom-left-radius: 1px
        border: 0
        width: 100%
        padding: 18px
        font-family: $bodyFont
        font-size: 16px
        font-style: italic
        font-weight: $heavy
        line-height: 20px

        &::placeholder,
        &::-webkit-input-placeholder
          font-family: $bodyFont
          font-size: 16px
          font-style: italic
          font-weight: $heavy
          line-height: 19px
          color: #000
          opacity: 0.4

      button
        font-family: $headerFont
        line-height: 21px
        padding: 19px 33px 16px

.footer-nav-wrapper
  border-top: $discreetBorder
  border-bottom: $discreetBorder

  .inner-wrapper
    @extend %content-wrapper
    flex-wrap: wrap

    a
      font-size: 12px
      line-height: 15px
      margin: 17px 14px
      padding: 10px
      text-transform: uppercase

      &:hover
        opacity: $hoverOpacity

.credit-card-logos-wrapper
  margin: 27px 0
  display: flex
  flex-direction: row
  justify-content: center

  .credit-card-logo
    width: 60px
    height: 40px
    padding: 0 11px

.copyright-wrapper
  width: 100%
  color: #fff
  background-color: #000
  text-align: center

  .copyright-claim
    padding: 27px 0
    font-size: 12px
    font-weight: $heavy
    line-height: 15px
