@import './icons/footerIcons.sass'
@import './variables.sass'

.cookie-wrappper
  position: fixed
  bottom: 0
  right: 0
  width: 100%
  z-index: 1
  background-color: #fff
  box-shadow: 1px 1px 3px 1px #999

  .info
    margin: 0
    padding: 20px 50px

  .accept-cookie
    position: absolute
    top: 10px
    right: 30px
    font-size: 30px
    cursor: pointer

.social-wrapper
  border: $discreetBorder

  .inner-wrapper
    @extend %content-wrapper
    position: relative

    &:after
      content: ''
      position: absolute
      top: 9px
      left: 50%
      height: 32px
      width: 1px
      opacity: 0.2
      background-color: #000

    .social-link
      position: relative
      display: inline-block
      font-size: 16px
      font-weight: $heavy
      line-height: 19px
      margin: 17px auto 16px

      &:hover
        margin-bottom: 14px
        border-bottom: $tbsBlueBorder

      .icon
        position: absolute
        top: -6px
        right: 105%
        height: 31px
        width: 31px

      .facebook
        background: url('data:image/svg+xml;base64,#{$facebookIcon}') no-repeat

      .instagram
        background: url('data:image/svg+xml;base64,#{$instagramIcon}') no-repeat

.newsletter-wrapper
  background-color: #f1f6ff

  .inner-wrapper
    @extend %content-wrapper
    align-items: center
    padding: 28px 0

    .info-wrapper
      margin: 15px 0 18px $contentSpacing
      width: calc(50% - #{$contentSpacing})

      .join-text
        margin: 0 50px 0 0
        font-size: 12px
        font-weight: $heavy
        line-height: 15px
        text-transform: uppercase

      .info-text
        margin: 10px 50px 0 0
        font-size: 22px
        font-weight: $heavy
        line-height: 27px

    .join-wrapper
      display: flex
      flex-flow: row nowrap
      margin: 0 auto 0 0

      .email-input
        border-top-left-radius: 1px
        border-bottom-left-radius: 1px
        border: 0
        max-width: 350px
        width: 25vw
        padding: 18px
        font-family: $bodyFont
        font-size: 16px
        font-style: italic
        font-weight: $heavy
        line-height: 20px

        &::placeholder,
        &::-webkit-input-placeholder
          font-family: $bodyFont
          font-size: 16px
          font-style: italic
          font-weight: $heavy
          line-height: 19px
          color: #000
          opacity: 0.4

      button
        color: #fff
        background-color: #000
        font-family: $headerFont
        font-size: 15px
        font-weight: $heavy
        line-height: 21px
        padding: 19px 33px 16px
        text-transform: uppercase
        border-top-right-radius: 1px
        border-bottom-right-radius: 1px

.footer-nav-wrapper
  border-bottom: $discreetBorder

  .inner-wrapper
    @extend %content-wrapper
    flex-wrap: wrap

    a
      font-size: 12px
      font-weight: $heavy
      line-height: 15px
      text-transform: uppercase
      margin: 27px

      &:first-child
        margin-left: $contentSpacing

      &:last-child
        margin-right: $contentSpacing

      &:hover
        margin-bottom: 25px
        border-bottom: $tbsBlueBorder

.credit-card-logos-wrapper
  margin: 27px 0
  display: flex
  flex-direction: row
  justify-content: center

  .credit-card-logo
    width: 60px
    height: 40px
    padding: 0 11px

.copyright-wrapper
  width: 100%
  color: #fff
  background-color: #000
  text-align: center

  .copyright-claim
    padding: 27px 0
    font-size: 12px
    font-weight: $heavy
    line-height: 15px
