@import './icons/flagIcons.sass'
@import './footer.sass'
@import './mixins.sass'
@import './navigation.sass'
@import './variables.sass'

html,
body
  height: 100%

html
  scroll-behavior: smooth

body
  margin: 0
  font-family: $bodyFont
  font-size: 16px
  display: flex
  flex-direction: column

  &.lock-scroll
    overflow: hidden

main
  flex: 1 0 auto

footer
  flex: 0 0 0px

input,
select,
h1,
h2,
h3
  margin: 0
  font-family: $headerFont
  font-weight: $heavy

ul,
li
  margin: 0
  padding: 0
  list-style: none
  font-weight: $heavy

a
  font-weight: $heavy
  text-decoration: none
  color: #000

button,
select
  text-transform: none
  -webkit-appearance: none
  -moz-appearance: none
  -ms-appearance: none

button
  font-family: $bodyFont
  font-weight: $heavy
  font-size: 15px
  line-height: 19px
  padding: 0 0 3px
  cursor: pointer
  text-transform: uppercase
  color: #fff
  background-color: #000
  border: 0
  transition: $transitionDuration

  &:hover
    color: #fff
    background: $hoverGrey

  &:focus
    outline: $greyBorder
    outline-offset: -2px

.main-wrapper
  max-width: $contentWidth
  margin: $mainWrapperTopMargin auto 30px

  &.sticky-nav-margin
    margin-top: calc(#{$mainWrapperTopMargin} + #{$navbarHeight})

  .content-wrapper
    margin: 0 $gutter 0

.header-wrapper
  position: relative
  background: radial-gradient(ellipse at center, #367dff 0%, #000 60%)
  background-size: 120% 250%
  background-position: 50% 50%

  .header
    position: relative
    display: flex
    align-items: center
    justify-content: center
    max-width: $contentWidth
    margin: 0 auto
    height: $headerHeight

    .logo
      width: 510px
      height: 58px

      svg
        width: 100%
        height: auto

    .ship-to-wrapper
      @include ship-to-wrapper

    .nav-mobile-open-button
      display: none

    .bag-mobile-open-button
      display: none

    #bag-mobile
      display: none

.link-in-text
  text-decoration: underline

.picture
  width: auto
  height: 100%

.auth-wrapper
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  width: 49%
  min-width: 280px
  margin: 80px auto 170px

  h1
    font-size: 38px
    line-height: 51px

  p
    margin-top: 20px
    font-size: 16px
    line-height: 18px

  form
    width: 100%

  .register
    color: $colorBlue
    text-transform: initial

    &:hover
      text-decoration: underline

  .field-wrapper
    @extend %field-wrapper

  button
    background-color: $colorGreen
    font-size: 16px
    text-align: center
    height: 54px
    width: 100%

  .reset-password
    margin-top: 28px
    text-align: center

    a
      color: $colorGrey
      font-family: $bodyFont
      font-size: 11px
      line-height: 13px
      padding-bottom: 2px
      border-bottom: 2px solid $colorGrey

      &:hover
        opacity: $hoverOpacity

.screen-reader-only
  border: 0
  clip: rect(0 0 0 0)
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px)
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  white-space: nowrap

.error
  color: #f00
