@import './footer.sass'
@import './navigation.sass'
@import './normalize.sass'
@import './terms_and_legal.sass'
@import './variables.sass'

html,
body
  height: 100%

body
  margin: 0
  font-family: $bodyFont
  display: flex
  flex-direction: column

main
  flex: 1 0 auto

footer
  flex: 0 0 0px

input,
select,
h1,
h2
  margin: 0
  font-family: $headerFont

ul,
li,
a
  margin: 0
  padding: 0
  list-style: none
  text-decoration: none
  color: #000

button
  display: inline-block
  border: none
  padding: 0 0 3px
  margin: 0
  text-decoration: none
  background: #fff
  color: #000
  cursor: pointer
  text-align: center
  -webkit-appearance: none
  -moz-appearance: none

button:hover
  color: #fff
  background: $tbsBlue

button:focus
  outline: $tbsBlueBorder
  outline-offset: -2px

button:active
  transform: scale(0.995)

%input-arrow
  position: absolute
  content: ''
  height: 0
  width: 0
  border-style: solid
  border-color: #fff transparent transparent
  border-width: 5px
  top: 5px
  left: 93%
  pointer-events: none

%content-wrapper
  display: flex
  justify-content: space-between
  max-width: $contentWidth
  margin: 0 auto

.main-wrapper
  max-width: $contentWidth
  margin: 0 auto
  padding: 70px 0
