@import './icons/flagIcons.sass'
@import './icons/tbsLogo.sass'
@import './footer.sass'
@import './mixins.sass'
@import './navigation.sass'
@import './variables.sass'

html,
body
  height: 100%

body
  margin: 0
  font-family: $bodyFont
  font-size: 16px
  display: flex
  flex-direction: column

main
  flex: 1 0 auto

footer
  flex: 0 0 0px

input,
select,
h1,
h2,
h3
  margin: 0
  font-family: $headerFont
  font-weight: $heavy

ul,
li
  margin: 0
  padding: 0
  list-style: none
  font-weight: $heavy

a
  font-weight: $heavy
  text-decoration: none
  text-transform: uppercase
  color: #000

button,
select
  text-transform: none
  -webkit-appearance: none
  -moz-appearance: none
  -ms-appearance: none

button
  font-family: $bodyFont
  font-weight: $heavy
  font-size: 15px
  line-height: 19px
  padding: 0 0 3px
  cursor: pointer
  text-transform: uppercase
  color: #fff
  background-color: #000
  border: 0

  &:hover
    color: #fff
    background: $tbsBlue

  &:focus
    outline: $tbsBlueBorder
    outline-offset: -2px

.main-wrapper
  max-width: $contentWidth
  margin: 0 auto
  padding: 30px 0

.header-wrapper
  position: relative
  background: radial-gradient(ellipse at center, #367dff 0%, #000 55%)
  background-size: 100% 200%
  background-position: 0% 60%

  .header
    position: relative
    display: flex
    align-items: center
    justify-content: center
    max-width: $contentWidth
    margin: 0 auto
    height: 191px

    a
      display: flex

      .logo
        width: 505px
        height: 58px
        background: url('data:image/svg+xml;base64,#{$tbsLogo}') no-repeat

    .ship-to-wrapper
      position: absolute
      top: 12px
      right: 34px
      color: #fff
      font-family: $bodyFont
      font-size: 12px
      font-weight: $heavy
      line-height: 15px
      text-transform: uppercase
      letter-spacing: 1px

      &:after
        @extend %input-arrow

      .ship-to-select-wrapper
        display: flex

        .text
          white-space: nowrap
          width: 58px

      .ship-to-select
        width: 67px
        color: #fff

      .ship-to-menu
        position: absolute
        top: 20px
        left: 58px
        margin-top: 5px

        a
          color: #fff

      .flag-icon
        width: 20px
        height: 13px
        margin: 1px 6px 11px 7px
        pointer-events: none

        &.hr
          background: url('data:image/svg+xml;base64,#{$flagCro}') no-repeat

        &.eu
          background: url('data:image/svg+xml;base64,#{$flagEU}') no-repeat

        &.uk
          background: url('data:image/svg+xml;base64,#{$flagUK}') no-repeat

        &.us
          background: url('data:image/svg+xml;base64,#{$flagUSA}') no-repeat

.credit-card-secure-logo-wrapper
  display: flex
  position: relative

  .credit-card-secure-logo
    cursor: pointer

  .credit-card-secure-logo *
    pointer-events: none

  .credit-card-secure-modal
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -55vh)
    background-color: #fff
    height: fit-content
    width: 70vw
    max-width: 600px
    padding: 25px
    box-shadow: 1px 1px 3px 1px #999

    .close-modal-button
      position: absolute
      top: 10px
      right: 20px
      font-size: 30px
      font-family: $bodyFont
      cursor: pointer

    .fine-print
      font-size: 11px

.link-in-text
  text-decoration: underline

.picture
  width: 100%
  height: 100%
  object-fit: cover
