@import './variables.sass'

@mixin input-arrow
  position: absolute
  content: ''
  height: 0
  width: 0
  top: 5px
  left: 93%
  pointer-events: none
  border-style: solid
  border-color: #fff transparent transparent
  border-width: 5px

%input-arrow
  @include input-arrow

%play-icon
  position: absolute
  content: ''
  height: 0
  width: 0
  top: 22px
  left: 28px
  pointer-events: none
  border-style: solid
  border-color: transparent transparent transparent #fff
  border-width: 12px 18px
  transition: $transitionDuration

%content-wrapper
  display: flex
  justify-content: space-between
  max-width: $contentWidth
  margin: 0 auto

%price-tag
  font-size: 24px
  line-height: 29px
  margin-top: 17px

%field-wrapper
  position: relative
  margin: 23px 0 29px

  input
    height: 53px
    width: 99.3%
    font-family: $bodyFont
    font-size: 16px
    line-height: 19px
    text-indent: 20px

    padding-bottom: 1px
    border: $inputBorder
    border-radius: 0

    &::placeholder,
    &::-webkit-input-placeholder
      opacity: 0.48
      color: #000
      font-family: $bodyFont
      font-size: 16px
      font-style: italic
      line-height: 19px

  .field-info-icon
    cursor: pointer

    &:after
      position: absolute
      top: 19px
      right: 20px
      content: '?'
      color: #fff
      padding: 0 6px
      background-color: #000
      border-radius: 50%

  .field-info
    font-family: $bodyFont
    font-size: 12px
    position: absolute
    top: 0
    left: 0
    color: #fff
    padding: 3px
    border-radius: 1px
    background-color: rgba(0, 0, 0, .7)

%summary-check-out-button
  display: flex
  align-items: center
  justify-content: center
  position: relative
  color: #fff
  background-color: $colorGreen
  font-size: 16px
  text-transform: uppercase
  height: 54px
  margin: 0 25px 15px

  &:hover
    background: $hoverGrey

%summary-wrapper
  flex: 4 1 0px
  background-color: #000
  text-align: center
  height: fit-content
  border-bottom: $tbsBorder

  h2
    font-family: $bodyFont
    text-transform: uppercase
    color: #fff
    text-align: left
    font-size: 20px
    line-height: 24px
    padding: 25px 25px 16px

  .summary-row
    display: flex
    justify-content: space-between
    color: #fff
    margin: 0 25px
    border-bottom: $discreetGreyBorder

    &.hidden
      display: none

    &:last-of-type
      border: 0
      margin-bottom: 10px

    span
      padding: 20px 0

    .summary-label
      font-size: 13px
      line-height: 16px
      text-transform: uppercase

    .summary-value
      font-size: 16px
      font-weight: $light
      line-height: 16px

    .summary-grand-total-label,
    .summary-grand-total-value
      font-size: 19px
      font-weight: $heavy
      line-height: 23px

      &:first-child
        text-transform: uppercase

  .summary-check-out-button
    @extend %summary-check-out-button

  .summary-continue-shopping-link
    display: block
    color: $colorGrey
    font-family: $bodyFont
    font-size: 11px
    line-height: 13px
    text-transform: uppercase
    text-decoration: underline
    margin: 5px 0 25px
    padding: 5px

    &:hover
      opacity: $hoverOpacity

%hollow-select
  width: 83px
  height: 54px
  padding: 0 0 1px 20px
  margin: 0 29px 0 0
  border: $inputBorder
  border-radius: 0
  background-color: #fff
  font-family: $bodyFont
  font-size: 16px
  line-height: 19px

@mixin ship-to-wrapper
  position: absolute
  top: 12px
  right: 34px
  color: #fff
  font-family: $bodyFont
  font-size: 12px
  line-height: 15px
  text-transform: uppercase

  &:after
    @include input-arrow

  .ship-to-select-wrapper
    display: flex

    .text
      white-space: nowrap
      width: 50px

  .ship-to-select
    width: 67px
    color: #fff
    display: flex

  .ship-to-menu
    position: absolute
    top: 20px
    left: 50px
    margin-top: 5px

    .language-option
      display: flex
      color: #fff
      z-index: 1

  .flag-icon
    width: 20px
    height: 13px
    margin: 1px 6px 11px 7px
    pointer-events: none

    &.hr
      background: url('data:image/svg+xml;base64,#{$flagCro}') no-repeat

    &.eu
      background: url('data:image/svg+xml;base64,#{$flagEU}') no-repeat

    &.uk
      background: url('data:image/svg+xml;base64,#{$flagUK}') no-repeat

    &.us
      background: url('data:image/svg+xml;base64,#{$flagUSA}') no-repeat

@mixin nav-item-bag
  position: relative
  font-family: $bodyFont
  font-size: 12px
  font-weight: $regular
  line-height: 15px
  text-transform: uppercase
  white-space: nowrap
  padding: 19px 0

  a
    padding: 12px 5px 12px 0

  .bag-icon
    padding: 12px 18px
    margin-right: 4px
    background: url('data:image/svg+xml;base64,#{$bagIcon}') no-repeat center

@mixin bag-item-count
  position: absolute
  top: 17px
  color: #fff
  font-family: $bodyFont
  font-weight: $heavy
  padding: 2px 6px
  margin: 0 0 20px 5px
  background-color: $colorBlue
  border-radius: $borderRadius
