@import './variables.sass'

%input-arrow
  position: absolute
  content: ''
  height: 0
  width: 0
  border-style: solid
  border-color: #fff transparent transparent
  border-width: 5px
  top: 5px
  left: 93%
  pointer-events: none

%content-wrapper
  display: flex
  justify-content: space-between
  max-width: $contentWidth
  margin: 0 auto

%price-tag
  font-size: 24px
  line-height: 29px
  margin-top: 17px
