@import './icons/navIcons.sass'
@import './variables.sass'

.navigation-wrapper
  position: relative
  background-color: #000
  border-top: $discreetGreyBorder
  border-bottom: $greyBorder

  .navigation-mobile-controls
    display: none

  &.sticky-nav
    position: fixed
    margin-top: -$headerHeight
    width: 100%
    z-index: 2
    border-bottom: $tbsBorder

  .inner-wrapper
    @extend %content-wrapper
    justify-content: space-between

    li
      padding: 10px 0 0

      &:first-child
        margin-left: 5.5%

      &:last-child
        margin-right: $gutter * 2.5

      a
        color: #fff

    .nav-item
      position: relative
      font-family: $headerFont
      white-space: nowrap
      text-transform: uppercase

      a
        padding: 10px

    .nav-item-log-in-register,
    .nav-item-bag
      @include nav-item-bag

      .user-icon
        position: relative
        padding: 16px
        margin-right: 4px
        background: url('data:image/svg+xml;base64,#{$userIcon}') no-repeat center

    .bag-item-count
      @include bag-item-count
