@import './icons/navIcons.sass'
@import './variables.sass'

.navigation-wrapper
  position: relative
  background-color: #000
  border-top: $discreetGreyBorder
  border-bottom: $greyBorder

  &.sticky-nav
    position: fixed
    margin-top: -$headerHeight
    width: 100%
    z-index: 2

  .inner-wrapper
    @extend %content-wrapper
    justify-content: space-between

    li
      line-height: 22px
      padding: 16px 0

      &:first-child
        margin-left: 5.5%

      &:last-child
        margin-right: $gutter * 2.5

      a
        color: #fff

        &:hover
          opacity: $hoverOpacity

    .nav-item
      position: relative
      font-family: $headerFont
      white-space: nowrap
      text-transform: uppercase

      a
        padding: 12px 5px

    .nav-divider
      margin-top: 7px
      width: 1px
      height: 38px
      background-color: rgba(255, 255, 255, .4)

    .nav-item-log-in-register,
    .nav-item-bag
      position: relative
      font-family: $bodyFont
      font-size: 12px
      font-weight: $regular
      line-height: 15px
      text-transform: uppercase
      white-space: nowrap
      padding: 19px 0

      a
        padding: 12px 5px 12px 0

      .user-icon
        position: relative
        padding: 16px
        margin-right: 4px
        background: url('data:image/svg+xml;base64,#{$userIcon}') no-repeat center

      .bag-icon
        padding: 12px 18px
        margin-right: 4px
        background: url('data:image/svg+xml;base64,#{$bagIcon}') no-repeat top

    .bag-item-count
      position: absolute
      top: 17px
      color: #fff
      font-family: $bodyFont
      font-weight: $heavy
      padding: 2px 6px
      margin: 0 0 20px 5px
      background-color: $colorBlue
      border-radius: $borderRadius
