@import './icons/navIcons.sass'
@import './variables.sass'

.navigation-wrapper
  position: relative
  background-color: #000
  border-top: $discreetBorder
  border-bottom: $tbsBlueBorder

  &.sticky-nav
    position: fixed
    margin-top: -$headerHeight
    width: 100%
    z-index: 1

  .inner-wrapper
    @extend %content-wrapper
    justify-content: center

    li
      line-height: 22px
      padding: 16px 40px

      &:first-child
        margin-left: $contentSpacing

      &:last-child
        margin-right: $contentSpacing

      a
        color: #fff

        &:hover
          opacity: 0.8

        &.active
          border-bottom: $tbsBlueBorder

    .nav-item
      position: relative
      font-family: $headerFont
      white-space: nowrap
      text-transform: uppercase

      &:after
        content: ''
        position: absolute
        top: 9px
        left: 100%
        height: 38px
        width: 1px
        opacity: 0.4
        background-color: #fff

    .log-in-register,
    .bag-item
      font-family: $bodyFont
      font-size: 12px
      font-weight: $regular
      line-height: 15px
      padding: 19px 10px 16px
      margin-left: 35px

      &:after
        display: none

      a
        padding-bottom: 4px

    .bag-item
      a
        margin-right: 5px
        padding: 2px 4px

      .bag-icon
        position: absolute
        top: 14px
        right: 45px
        height: 25px
        width: 25px
        background: url('data:image/svg+xml;base64,#{$bagIcon}') no-repeat

    .log-in-register
      &:before
        content: ''
        color: #fff
        padding: 5px 17px
        background: url('data:image/svg+xml;base64,#{$userIcon}') no-repeat

    .bag-item-count
      position: absolute
      top: 17px
      color: #fff
      font-family: $bodyFont
      font-weight: $heavy
      padding: 2px 6px
      margin: 0 0 20px 5px
      background-color: $tbsBlue
      border-radius: $borderRadius

  .bag
    display: flex
    flex-direction: column
    position: absolute
    top: 51px
    right: -10px
    width: 248px
    padding: 20px
    background-color: #fff
    box-shadow: 1px 1px 3px 1px #999
    z-index: 2
    transition: $transitionDuration

    &.bag-hide
      opacity: 0
      pointer-events: none

    .bag-header
      display: flex
      justify-content: space-between

    .bag-product-remove
      font-size: 24px
      cursor: pointer

    .bag-product-header,
    .bag-product-content
      display: flex
      justify-content: space-between

    .bag-product-header
      margin-top: 10px

    .bag-product-name
      margin-top: 5px

    button
      padding: 10px 0
      margin: 30px 0 0
      color: #fff
      background-color: $tbsBlue

      &:hover
        background-color: #000
