.brush-care-wrapper,
.about-the-story-wrapper,
.faq-wrapper,
.contact-wrapper,
.payment-and-delivery-wrapper,
.returns-and-complaints-wrapper,
.general-terms-and-conditions-wrapper,
.purchase-completed-wrapper,
.purchase-cancelled-wrapper
  margin: -10px auto 100px
  max-width: 900px
  text-align: center

  h1
    font-size: 38px
    line-height: 51px
    margin-bottom: 50px
    padding: 0 20%

  h2
    font-family: $body-font
    font-size: 20px
    line-height: 24px
    margin-bottom: 20px
    padding: 0 20%
    text-transform: uppercase

  h4
    padding: 0 10%
    text-align: left

  p
    font-size: 18px
    line-height: 30px
    padding: 0 10% 10px
    text-align: left

  ul,
  li
    font-weight: $light
    list-style: initial
    margin: 0 0 0 7%
    text-align: left

.purchase-completed-wrapper,
.purchase-cancelled-wrapper
  h4
    text-align: center

  p
    text-align: center

.credit-card-secure-logo-wrapper
  display: flex
  margin: 0 10%
  position: relative

  img
    height: 50px

  .credit-card-secure-logo
    cursor: pointer

  .credit-card-secure-logo *
    pointer-events: none

  .credit-card-secure-modal
    background-color: $color-white
    box-shadow: $box-shadow
    left: 50%
    max-width: 600px
    padding: 25px
    position: absolute
    top: 0
    transform: translate(-50%, -50%)
    width: 80vw
    z-index: 1

    h1
      font-size: 30px
      padding: 0 30px

    img
      height: 40px

    .close-modal-button
      cursor: pointer
      font-family: $body-font
      font-size: 30px
      position: absolute
      right: 20px
      top: 10px

    .fine-copy
      font-size: 11px

.customer-address-wrapper
  left: 20%
  position: absolute
  top: 20%

.shop-address-wrapper
  bottom: 20%
  position: absolute
  right: 20%


@media only screen and (max-width: $media-mobile)
  .purchase-completed-wrapper,
  .purchase-cancelled-wrapper,
  .brush-care-wrapper,
  .about-the-story-wrapper,
  .faq-wrapper,
  .contact-wrapper,
  .payment-and-delivery-wrapper,
  .returns-and-complaints-wrapper,
  .general-terms-and-conditions-wrapper
    margin: 120px auto 50px

    h1
      padding: 0 10%
