.brush-care-wrapper,
.about-the-story-wrapper,
.faq-wrapper,
.contact-wrapper,
.payment-and-delivery-wrapper,
.returns-and-complaints-wrapper,
.general-terms-and-conditions-wrapper,
.purchase-completed-wrapper,
.purchase-cancelled-wrapper
  margin: -10px auto 100px
  max-width: 900px
  text-align: center

  h1
    font-size: 38px
    line-height: 51px
    padding: 0 30px
    margin-bottom: 30px

  h2
    font-family: $bodyFont
    font-size: 20px
    line-height: 24px
    text-transform: uppercase
    padding: 0 30px
    margin-bottom: 30px

  p
    padding: 0 30px 45px
    font-size: 18px
    line-height: 30px

.credit-card-secure-logo-wrapper
  display: flex
  position: relative

  img
    height: 50px

  .credit-card-secure-logo
    cursor: pointer

  .credit-card-secure-logo *
    pointer-events: none

  .credit-card-secure-modal
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%, -50%)
    background-color: #fff
    height: fit-content
    width: 80vw
    max-width: 600px
    padding: 25px
    box-shadow: $boxShadow
    z-index: 1

    h1
      font-size: 30px
      padding: 0 30px

    img
      height: 40px

    .close-modal-button
      position: absolute
      top: 10px
      right: 20px
      font-size: 30px
      font-family: $bodyFont
      cursor: pointer

    .fine-copy
      font-size: 11px

.customer-address-wrapper
  position: absolute
  top: 20%
  left: 20%

.shop-address-wrapper
  position: absolute
  bottom: 20%
  right: 20%
