@import './icons/starIcon'


.product-detail-wrapper
  display: flex
  height: 100%
  margin: 0 $gutter
  position: relative

  .gallery-wrapper
    flex: 1 0 0
    flex-direction: column
    justify-content: center
    padding: 0 20px 0 0

    .image-wrapper
      height: 100%
      margin: 0 auto 30px
      max-height: 470px
      width: 470px

      &.play-icon
        cursor: pointer
        position: relative

        &::before
          background-color: rgba(0, 0, 0, .5)
          border-radius: 50%
          content: ''
          height: 120px
          left: 50%
          pointer-events: none
          position: absolute
          top: 50%
          transform: translate(-50%, -50%)
          width: 120px

        &::after
          @extend %play-icon
          border-width: 24px 38px

    .video-wrapper
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 100%
      z-index: 1

      &.fade
        align-items: center
        background-color: rgba(0, 0, 0, .8)
        cursor: initial
        display: flex
        height: 100%
        justify-content: center
        left: 0
        position: fixed
        top: 0
        width: 100%
        z-index: 1

        &::after
          color: $color-white
          content: '\00D7'
          cursor: pointer
          font-size: 40px
          height: 30px
          position: absolute
          right: 20px
          top: 10px
          width: 30px

    .thumbnails-wrapper
      display: flex
      flex-flow: row wrap
      justify-content: center

      div
        margin: 15px 10px

      .image-wrapper
        border: 1px solid rgba(0, 0, 0, .3)
        cursor: pointer
        height: 62px
        margin: 0
        padding: 3px
        transition: box-shadow $transition-duration
        width: 62px

        &:hover
          box-shadow: $hover-shadow

        &.selected
          box-shadow: $hover-shadow

        &.play-icon
          position: relative

          &::before
            background-color: rgba(0, 0, 0, .5)
            border-radius: 50%
            content: ''
            height: 70%
            left: 50%
            pointer-events: none
            position: absolute
            top: 50%
            transform: translate(-50%, -50%)
            width: 70%

          &::after
            @extend %play-icon

  .detail-wrapper
    flex: 1 1 0
    flex-direction: column
    margin-top: 5px

    .breadcrumbs
      display: flex
      flex-direction: row
      font-size: 11px
      line-height: 7px
      margin-bottom: 18px
      text-transform: uppercase

      li
        margin-right: 30px
        position: relative

        &:first-child
          &::after
            @extend %input-arrow
            border-color: transparent transparent transparent $color-black
            border-width: 4px
            left: 60px
            top: 0

      a:hover
        text-decoration: underline

    .header
      font-size: 38px
      font-weight: $heavy
      line-height: 51px
      margin-bottom: 5px

    .old-price
      @extend %old-price
      margin-bottom: 20px

    .price-tag
      @extend %price-tag
      margin-bottom: 20px

    .product-rating-wrapper
      display: inline-block
      position: relative
      width: 140px

      .product-rating-gauge
        background-color: $color-blue
        height: 24px
        left: 0
        position: absolute
        top: 5px
        z-index: -1

      .product-rating-count
        left: 105%
        position: absolute
        top: 5px

    .foreword
      font-size: 18px
      line-height: 30px
      margin-bottom: 30px
      max-width: 400px

    .ui-wrapper
      display: flex
      margin-bottom: 30px

      span
        position: relative

        &::after
          @extend %input-arrow
          border-color: $color-black transparent transparent
          left: 46%
          top: 25px

      select
        @extend %hollow-select

      button
        height: 54px
        max-width: 300px
        width: 100%

        &:disabled
          opacity: .3
          pointer-events: none

        &:hover
          background-color: $hover-black
          color: $color-white

    .fine-copy
      font-size: 11px
      line-height: 13px
      opacity: .5
      text-transform: uppercase

      .link
        margin-left: 5px

.product-description-wrapper
  display: flex
  height: 100%
  margin: 85px $gutter 0

  .text-wrapper
    display: flex
    flex: 1 0 0
    flex-direction: column
    min-width: 423px
    padding: 0 20px 0 0

    .product-description-headers
      display: flex

      #product-about-tab,
      #product-review-tab
        color: #aaa
        cursor: pointer
        font-size: 16px
        line-height: 22px
        margin: 0 30px 25px 0
        text-transform: uppercase

        &.active
          color: $color-black
          cursor: initial

      #product-review-tab
        margin: 0 0 25px 30px

      span
        font-size: 19px

    h2
      font-size: 16px
      line-height: 22px
      padding: 0 0 20px
      text-transform: uppercase

    p
      font-size: 18px
      line-height: 30px
      margin: 0 35px 30px 0

    button
      @extend %summary-check-out-button
      margin: 0 auto
      width: 100%

      &:disabled
        background-color: $color-dark-green
        cursor: not-allowed

    textarea
      border: $input-border
      border-radius: 0
      font-family: $body-font
      font-size: 16px
      height: 200px
      line-height: 19px
      margin: 0 0 20px
      max-width: calc(100% - 22px)
      padding: 12px 0 1px 20px
      width: calc(100% - 22px)

    #product-review-form
      margin-bottom: 25px

    .product-review-rating
      margin: 0 auto 15px
      position: relative

      .star-score-input
        opacity: 0
        position: absolute
        top: 5px

    .product-reviews-wrapper
      h3
        &.stars-1::after,
        &.stars-2::after,
        &.stars-3::after,
        &.stars-4::after,
        &.stars-5::after
          background: url('data:image/svg+xml;base64,#{$starIcon}') repeat-x right
          content: ''
          margin: 0 0 0 10px
          padding: 2px 12px 0

        &.stars-2::after
          background: url('data:image/svg+xml;base64,#{$starIcon}') repeat-x right
          padding: 2px 24px 0

        &.stars-3::after
          background: url('data:image/svg+xml;base64,#{$starIcon}') repeat-x right
          padding: 2px 36px 0

        &.stars-4::after
          background: url('data:image/svg+xml;base64,#{$starIcon}') repeat-x right
          padding: 2px 48px 0

        &.stars-5::after
          background: url('data:image/svg+xml;base64,#{$starIcon}') repeat-x right
          padding: 2px 60px 0

      p
        border-bottom: $discreet-grey-border
        margin: 0 0 20px
        padding-bottom: 20px

        &:last-of-type
          border-bottom: 0

  .media-wrapper
    flex: 1 1 0

    .image-wrapper
      margin-bottom: 15px

      .picture
        height: auto
        max-width: 100%

.more-from-shop-wrapper
  margin-top: 107px

  h3
    font-size: 38px
    line-height: 51px
    padding: 0 30px
    text-align: center

  .more-products-wrapper
    @extend .products-wrapper
    margin: 40px 0


@media only screen and (max-width: $media-mobile)
  .product-detail-wrapper
    flex-direction: column

    .gallery-wrapper
      padding: 0

      .images-with-preview
        pointer-events: none

      .image-wrapper
        .picture
          height: auto
          width: 100%

        &.play-icon
          &::before
            left: 30%
            top: 37%

    .detail-wrapper
      margin-top: 30px

  .product-description-wrapper
    flex-direction: column-reverse
    margin-top: 30px

    .text-wrapper
      margin-top: 20px
      min-width: 0
      padding: 0

    .media-wrapper
      .image-wrapper
        height: 100%
        width: auto

  .more-from-shop-wrapper
    margin-top: 30px


@media only screen and (orientation: portrait) and (max-width: 687px)
  .product-detail-wrapper
    .gallery-wrapper
      .image-wrapper
        width: auto

  .products-wrapper
    .product
      height: 100%
      padding-bottom: 15px

      p
        height: auto
