@import './variables.sass'

@media only screen and (max-width: $mediaMobile)
  .main-wrapper
    margin-top: 80px

    &.sticky-nav-margin
      margin-top: 80px

  %content-wrapper
    flex-direction: column

  .header-wrapper
    position: fixed
    width: 100%
    background: radial-gradient(ellipse at center, #367dff 0%, #000 200px)
    background-size: 100% 100%
    z-index: 1
    border-bottom: $discreetGreyBorder

    .header
      height: 56px

      .nav-mobile-open-button
        display: initial
        position: fixed
        top: 7px
        left: 5px
        color: #fff
        border-top: 1px solid #fff
        border-bottom: 1px solid #fff
        width: 14px
        height: 9px
        margin: 15px

        hr
          border: 0
          margin: 4px 0 0
          border-top: 1px solid #fff

      .logo
        width: 170px
        height: 20px

      .ship-to-wrapper
        display: none

  .navigation-wrapper,
  .navigation-wrapper.sticky-nav
    position: absolute
    top: 0
    left: 0
    max-width: 300px
    min-height: 420px
    width: 80%
    height: 100vh
    z-index: 1
    margin-top: 0
    transition: $transitionDuration

    &.nav-mobile-close
      left: -100%

    .navigation-mobile-controls
      display: flex
      justify-content: space-between
      padding: 20px 15px

      .nav-mobile-close-button
        color: #fff
        font-size: 40px
        line-height: 13px
        font-weight: 100

      .ship-to-wrapper
        @include ship-to-wrapper
        position: relative
        top: 0
        left: 0

        &:after
          @include input-arrow

    .inner-wrapper
      .nav-item
        padding: 0
        width: 100%

        &:first-child
          margin: 0 auto

        a
          display: flex
          justify-content: center
          padding: 15px 0

      .nav-item-log-in-register
        border-top: $discreetGreyBorder
        position: absolute
        bottom: 60px
        left: 0
        width: 90%
        margin: 0 5%
        padding: 25px 0 30px
        text-align: center

      .nav-item-bag
        position: fixed
        top: 6px
        right: 6px

        &:last-child
          margin-right: 20px

        .bag-link
          &:hover
            opacity: 1

        .bag-icon-label
          display: none

        .bag-item-count
          margin: 0

    #bag
      top: 51px
      left: 100px
      transition: $transitionDurationShort

      &.bag-show
        opacity: 1
        left: -236px
        pointer-events: auto

      .bag-product-remove
        padding: 0 3px

  .review-bag-title
    display: none

  .review-bag-wrapper
    flex-direction: column
    margin: 0

    .review-bag-mobile-ship-to-wrapper
      display: flex
      margin-top: -25px
      padding: 15px 0 5px
      background-color: $colorLightGrey

      .ship-to-wrapper
        @include ship-to-wrapper
        color: #000
        position: relative
        top: 0
        right: 0
        margin: 0 auto

        &:after
          border-color: #000 transparent transparent

        .ship-to-select
          color: #000

        .ship-to-menu
          .language-option
            color: #000

    .bag-content-wrapper
      margin: 0 15px 0 0

      .bag-content-headers
        display: none

    .bag-content
      .bag-item-row
        padding: 10px 0

        .bag-product-and-price
          padding: 0

          .bag-product-name
            font-size: 17px
            line-height: 23px

          .bag-product-price
            font-size: 14px
            letter-spacing: -0.35px
            line-height: 17px

        .bag-product-quantity
          text-align: center
          padding: 0 0 0 10px
          width: 70px

        .bag-subtotal
          .bag-product-subtotal
            font-size: 14px
            letter-spacing: -0.35px
            line-height: 17px
            white-space: nowrap

        .image-wrapper
          width: 78px
          height: 78px

    .summary-wrapper
      h2
        font-size: 16px
        line-height: 19px
        text-align: center

      .summary-row
        .summary-label
          font-size: 13px
          line-height: 16px

        .summary-value,
        .summary-grand-total-label,
        .summary-grand-total-value
          font-size: 16px
          line-height: 19px

      .summary-check-out-button
        font-size: 14px
        line-height: 15px

  .checkout-wrapper
    flex-direction: column
    margin: 0 0 40px

    #checkout-address-form
      margin: 0 $gutter

    .summary-wrapper
      h2
        font-size: 16px
        line-height: 19px
        text-align: center

      .summary-row
        .summary-label
          font-size: 13px
          line-height: 16px

        .summary-value,
        .summary-grand-total-label,
        .summary-grand-total-value
          font-size: 16px
          line-height: 19px

      .summary-check-out-button
        font-size: 14px
        line-height: 15px

  .showcase-wrapper
    flex-flow: column-reverse
    max-height: 100%
    margin: 80px 0 50px
    box-shadow: none

    .image-wrapper
      img
        border-bottom: $discreetGreyBorder

    .text-wrapper
      text-align: center
      margin: 0 auto 15px
      max-width: 500px
      border-right: 0

      h1
        font-size: 23px
        line-height: 26px
        padding: 20px 60px 0

      p
        font-size: 14px
        line-height: 20px
        padding: 0 30px 0

  .social-wrapper
    margin-top: 15px
    border: none
    border-top: $discreetGreyBorder

    .inner-wrapper
      &:after
        display: none

      .social-link
        margin: 20px auto

  .newsletter-wrapper
    .inner-wrapper
      .info-wrapper
        text-align: center
        width: 100%
        margin: 0

        .join-text
          margin: 0 0 20px
          padding: 0 24px

        .info-text
          padding: 0 $gutter
          margin: 0 0 20px

      .join-wrapper
        width: calc(100% - #{$gutter} * 2)
        max-width: 500px
        margin: 0 auto

  .product-detail-wrapper
    flex-direction: column

    .gallery-wrapper
      padding: 0

      .images-with-preview
        pointer-events: none

      .image-wrapper
        .picture
          width: 100%
          height: auto

        &.play-icon
          &:before
            top: 37%
            left: 30%

    .detail-wrapper
      margin-top: 30px

  .product-description-wrapper
    margin-top: 30px
    flex-direction: column-reverse

    .text-wrapper
      margin-top: 20px
      padding: 0
      min-width: 0

    .media-wrapper
      .image-wrapper
        height: 100%
        width: auto

  .more-from-shop-wrapper
    margin-top: 30px

  .footer-nav-wrapper
    .inner-wrapper
      a
        margin: 20px 15px 0
        padding: 10px
        width: fit-content

        &:last-child
          margin-bottom: 20px

  .credit-card-logos-wrapper
    a
      margin: 1%

    &.preview
      padding: 10px 0

  .purchase-completed-wrapper,
  .purchase-cancelled-wrapper,
  .brush-care-wrapper,
  .about-the-story-wrapper,
  .faq-wrapper,
  .contact-wrapper,
  .payment-and-delivery-wrapper,
  .returns-and-complaints-wrapper,
  .general-terms-and-conditions-wrapper
    margin-top: 120px

    h1
      padding: 0 10%

  iframe
    border: 0
    width: 100vw
    height: 50vh

@media only screen and (orientation: portrait) and (max-width: 687px)
  .product-detail-wrapper
    .gallery-wrapper
      .image-wrapper
        width: auto

  .products-wrapper
    .product
      height: 100%
      padding-bottom: 15px

      p
        height: auto

@media only screen and (orientation: portrait) and (min-width: 768px)
  .review-bag-wrapper
    .bag-content
      .bag-item-row
        .bag-product-quantity
          width: 40px

  .header-wrapper
    background-size: 100% 220%
    background-position: 50% 50%

@media only screen and (orientation: landscape) and (max-height: 440px)
  .review-bag-wrapper
    .bag-content
      .bag-item-row
        .bag-product-quantity
          width: 40px

  .header-wrapper
    background-size: 100% 220%
    background-position: 50% 50%

@media only screen and (orientation: landscape)
  iframe
    border: 0
    width: 90vw
    height: 90vh

@media (prefers-reduced-motion: reduce)
  html
    scroll-behavior: auto
