@import './general'
@import './bag'
@import './pages'
@import './product'


.showcase-wrapper
  background-color: $color-black
  border: 1px solid $color-black
  box-shadow: $box-shadow
  display: flex
  flex-direction: row
  margin: -$navbar-height $gutter 70px
  max-height: 435px

  .image-wrapper
    flex: 3 1 0

    .picture
      height: 100%
      object-fit: cover
      width: 100%

.showcase-text-wrapper
  border-right: $discreet-grey-border
  color: $color-white
  display: flex
  flex: 1 1 0
  flex-direction: column
  justify-content: center
  text-align: center

  h1
    font-size: 41px
    line-height: 47px
    padding: 0 26px

  p
    font-size: 16px
    line-height: 25px
    margin-bottom: 0
    padding: 0 26px

.products-wrapper
  display: grid
  grid-gap: 70px 22px
  grid-template-columns: repeat(auto-fit, 310px)
  justify-content: center

.product
  height: 600px
  position: relative
  text-align: center
  transition: box-shadow $transition-duration

  &:hover
    box-shadow: $hover-shadow

  h2
    font-size: 24px
    font-weight: $light
    height: 40px
    line-height: 30px
    margin-top: 15px
    padding: 0 20px
    text-transform: uppercase

  p
    font-size: 16px
    height: 97px
    line-height: 24px
    margin: 0 auto
    max-width: 300px
    padding: 0 20px

  button
    background-color: $color-white
    border: $discreet-grey-border
    color: $color-black
    height: 50px
    margin-top: 12px
    width: 270px

    &:disabled
      opacity: .3
      pointer-events: none

      &:hover
        background-color: $color-white

    &:hover
      background: $hover-light-grey
      color: $color-black

  .label-new
    @extend %label
    top: 18px

  .label-out-of-stock
    @extend %label
    background-color: $color-grey
    top: 18px

  .old-price
    @extend %old-price

  .price-tag
    @extend %price-tag

  .image-wrapper
    img
      height: 310px
      width: 310px


@media only screen and (max-width: $media-mobile)
  .showcase-wrapper
    box-shadow: none
    flex-flow: column-reverse
    margin: 80px 0 50px
    max-height: 100%

    .image-wrapper
      img
        border-bottom: $discreet-grey-border

  .showcase-text-wrapper
    border-right: 0
    margin: 0 auto 20px
    max-width: 500px
    min-height: 150px
    text-align: center

    h1
      font-size: 23px
      line-height: 26px
      padding: 20px 60px 0

    p
      font-size: 14px
      line-height: 20px
      padding: 0 30px
