$bodyFont: Lato
$headerFont: Cinzel
$maxWidth: 1024px
$borderRadius: 5px

$regular: 16px
$heavy: 900
$tbsBlue: #0065ff

$discreetBorder: 1px solid rgba(151, 151, 151, .5)
$tbsBlueBorder: 2px solid $tbsBlue
