$bodyFont: Lato
$headerFont: Cinzel

$contentWidth: 1024px
$contentSpacing: 24px
$mediaTablet: 1000px
$mediaMobile: 812px
$borderRadius: 5px
$headerHeight: 191px

$heavy: 900
$regular: 500
$tbsBlue: #0065ff
$green: #23A900

$discreetBorder: 1px solid rgba(151, 151, 151, .5)
$tbsBlueBorder: 2px solid $tbsBlue
$inputBorder: 1px solid #d0d0d0
$hoverShadow: 0 0 4px 3px rgba(0, 0, 0, 0.1)

$transitionDuration: 0.4s
