$bodyFont: Lato
$headerFont: Cinzel

$contentWidth: 1024px
$contentSpacing: 24px
$mediaTablet: 1000px
$mediaMobile: 812px
$borderRadius: 5px

$heavy: 900
$regular: 500
$tbsBlue: #0065ff

$discreetBorder: 1px solid rgba(151, 151, 151, .5)
$tbsBlueBorder: 2px solid $tbsBlue
$hoverShadow: 0 0 4px 0 rgba(0, 0, 0, 0.42)
