{% load i18n %}
{% load shop_tags %}

<div class="bag bag-hide">
  <div class="bag-header">
    <span>
      {% trans 'In your bag' %}
    </span>
    <span>
      {% trans 'Total:' %} <span class="bag-total">
        {{ bag.total|default:"0.00" }} kn
      </span>
    </span>
  </div>
  <div class="bag-content">
    {% for key, value in bag.products.items %}
      <div class="bag-product">
        <div class="bag-product-image">
          {% get_image_by_natural_key 'shop' 'product' value.pk as image %}
          {% media_object obj=image shape='thumbnail' %}
        </div>
        <div class="bag-product-content">
          <div class="bag-product-header">
            <span class="bag-product-name">
              {{ value.name }}
            </span>
            <span class="bag-product-remove" data-slug="{{ key }}">
              &times;
            </span>
          </div>
          <div class="bag-product-stats">
            <div class="bag-product-quantity">
              {% trans 'Quantity:' %} {{ value.quantity }}
            </div>
            <div class="bag-product-subtotal">
              {% trans 'Subtotal:' %} {{ value.subtotal }} kn
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <a href="{% url 'shop:review-bag' %}" class="review-bag-link"{% if not bag.products.items %} hidden{% endif %}>
    {% trans 'Review bag' %}
  </a>
</div>
