{% load i18n %}

<div class="summary-wrapper">
  <h2>{% trans "Order summary" %}</h2>
  <div class="summary-row">
    <span class="summary-label">
      {% trans "Total:" %}
    </span>
    <span id="summary-total" class="summary-value">
       {{ bag.total|default:"0.00" }} kn
    </span>
  </div>
  <div class="summary-row">
    <span class="summary-label">
      {% trans "Ship to:" %} {{ region }}
    </span>
    <span id="summary-value-shipping-cost" class="summary-value">
      {{ bag.shipping_cost|default:"0.00" }} kn
    </span>
  </div>
  <div id="summary-row-fees" class="summary-row{% if not bag.fees %} hidden{% endif %}">
    <span class="summary-label">
      {% trans "GLS:" %}
    </span>
    <span id="summary-value-fees" class="summary-value">
      {{ bag.fees|default:"0.00" }} kn
    </span>
  </div>
  <div class="summary-row">
    <span class="summary-grand-total-label">
      {% trans "Grand total:" %}
    </span>
    <span id="summary-grand-total" class="summary-grand-total-value">
      {{ bag.grand_total|default:"0.00" }} kn
    </span>
  </div>

  {% if show_links %}
    <a href="{% url 'shop:checkout' %}" class="summary-check-out-button">
      <span>{% trans "Check out" %}</span>
    </a>
    <a href="{% url 'shop:shop' %}#products-anchor" class="summary-continue-shopping-link">
      {% trans "Continue shopping" %}
    </a>
  {% endif %}
</div>
