<div class="summary-wrapper">
  <h2>Order summary</h2>

  <div class="summary-row">
    <span class="summary-label">
      Total:
    </span>
    <span id="summary-total" class="summary-value">
       {{ bag.total|default:"0.00" }} kn
    </span>
  </div>
  <div class="summary-row">
    <span class="summary-label">
      Ship to: {{ region }}
    </span>
    <span class="summary-value">
      {{ bag.shipping|default:"0.00" }} kn
    </span>
  </div>
  <div class="summary-row">
    <span class="summary-grand-total-label">
      Grand total:
    </span>
    <span id="summary-grand-total" class="summary-grand-total-value">
      {{ bag.grand_total|default:"0.00" }} kn
    </span>
  </div>

  {% if show_links %}
    <a href="{% url 'shop:checkout' %}" class="summary-check-out-button">
      <span>Check out</span>
    </a>
    <a href="{% url 'shop:shop' %}#products-anchor" class="summary-continue-shopping-link">
      Continue shopping
    </a>
  {% endif %}
</div>
