{% load i18n %}
{% load shop_tags %}

<div class="summary-wrapper">
  <h2>{% trans "Order summary" %}</h2>
  <div class="summary-row">
    <span class="summary-label">
      {% trans "Total:" %}
    </span>
    <span id="summary-total" class="summary-value">
      {% get_price_in_currency bag 'total' exchange_rates currency %}
    </span>
  </div>
  <div class="summary-row">
    <span class="summary-label">
      {% trans "VAT (included in price):" %}
    </span>
    <span id="summary-tax" class="summary-value">
      {% get_price_in_currency bag 'tax' exchange_rates currency %}
    </span>
  </div>
  <div class="summary-row{% if review %} hidden{% endif %}">
    <span class="summary-label">
      {% trans "Shipping:" %}
    </span>
    <span id="summary-value-shipping-cost" class="summary-value">
      {% get_price_in_currency bag 'shipping_cost' exchange_rates currency %}
    </span>
  </div>
  <div id="summary-row-fees" class="summary-row{% if region != 'hr' or not bag.fee %} hidden{% endif %}">
    <span class="summary-label">
      {% trans "GLS:" %}
    </span>
    <span id="summary-value-fees" class="summary-value">
      {% get_price_in_currency bag 'fees' exchange_rates currency %}
    </span>
  </div>
  <div class="summary-row">
    <span class="summary-grand-total-label">
      {% trans "Grand total:" %}
    </span>
    <span id="summary-grand-total" class="summary-grand-total-value">
      {% get_price_in_currency bag 'grand_total' exchange_rates currency %}
    </span>
  </div>
  {% if region != 'hr' %}
    <div class="summary-row">
      <span class="summary-label">
        {% trans "Grand total (HRK):" %}
      </span>
      <span id="summary-grand-total-hrk" class="summary-value">
        {% get_price_in_currency bag 'grand_total' exchange_rates 'hrk' %}
      </span>
    </div>
  {% endif %}

  {% if review %}
    <a href="{% url 'shop:checkout' %}" class="summary-check-out-button{% if not bag.products %} disabled{% endif %}">
      <span>{% trans "Check out" %}</span>
    </a>
    <a href="{% url 'shop:shop' %}#products-anchor" class="summary-continue-shopping-link{% if not bag.products %} disabled{% endif %}">
      {% trans "Continue shopping" %}
    </a>
  {% endif %}
</div>
