{% load shop_tags %}

{% if showcase %}
  <div class="showcase-wrapper">
    <div class="text-wrapper">
      <h1>
        {% if LANGUAGE_CODE == 'hr' %}
          {{ showcase.name_cro }}
        {% else %}
          {{ showcase.name }}
        {% endif %}
      </h1>
      <p>
        {% if LANGUAGE_CODE == 'hr' %}
          {{ showcase.description_cro|linebreaks }}
        {% else %}
          {{ showcase.description|linebreaks }}
        {% endif %}
      </p>
    </div>
    {% get_image_for_model obj=showcase standalone=True as lead_image %}
    {% media_object obj=lead_image shape='landscape' %}
  </div>
{% endif %}
