{% load i18n %}
{% load static %}
{% load thebrushstash_tags %}
{% load render_bundle from webpack_loader %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>
        {% block title %}
          The Brush Stash
        {% endblock title %}
      </title>
      <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152' %}"/>
      <link rel="apple-touch-icon" type="image/png" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76' %}"/>
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon2.png' %}"/>

      {% get_font_chars as font_chars %}
      <link href="https://fonts.googleapis.com/css?family=Mukta:400&amp;text={{ font_chars }}&amp;display=swap" rel="stylesheet">

      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&amp;text={{ font_chars }}&amp;display=swap" rel="stylesheet">

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">

      {% block meta_description %}
      {% endblock meta_description %}
    {% endblock head %}

    {% block scripts %}
      {% render_bundle 'shop' 'css' %}
    {% endblock scripts %}
  </head>

  <body>
    <main>
      <header>
        {% block header %}
          <div class="header-wrapper">
            <div class="header">
              <div class="nav-mobile-open-button">
                <hr>
              </div>
              <a href="{% url 'shop:shop' %}" class="logo" aria-label="The Brush Stash logo">
                {% include 'thebrushstash/includes/tbsLogo.html' %}
              </a>
              {% bag_tag %}
              {% ship_to_tag %}
            </div>
            <div class="navigation-wrapper nav-mobile-close">
              <div class="navigation-mobile-controls">
                {% ship_to_tag %}
                <div class="nav-mobile-close-button">
                  &times;
                </div>
              </div>
              {% navigation_tag %}
            </div>
          </div>
        {% endblock header %}
      </header>

      <div class="main-wrapper">
        {% block content %}
        {% endblock content %}
      </div>
    </main>

    <footer>
      {% block footer %}
        {% footer_tag %}
        {% cookie_tag %}
      {% endblock footer %}
    </footer>

    {% block body_scripts %}
      {% render_bundle 'shop' 'js' %}
    {% endblock body_scripts %}
  </body>
</html>
