{% load static %}
{% load thebrushstash_tags %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>
        {% block title %}
          The Brush Stash
        {% endblock title %}
      </title>
      <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Lato:bold|Cinzel:bold&amp;display=swap">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">

      {% block meta_description %}
      {% endblock meta_description %}
    {% endblock head %}

    {% block scripts %}
      {% render_bundle 'shop' 'css' %}
    {% endblock scripts %}
  </head>

  <body>
    <main>
      <header>
        {% block header %}
          <div class="header-wrapper">
            <div class="header">
              <a href="{% url 'shop:shop-home' %}">
                <span class="logo"></span>
              </a>
              {% ship_to_tag %}
            </div>
          </div>
          {% navigation_tag %}
        {% endblock header %}
      </header>

      <div class="main-wrapper">
        {% block content %}
        {% endblock content %}
      </div>
    </main>

    <footer>
      {% block footer %}
        {% footer_tag %}
        {% cookie_tag %}
      {% endblock footer %}
    </footer>

    {% block body_scripts %}
      {% render_bundle 'shop' 'js' %}
    {% endblock body_scripts %}
  </body>
</html>
