{% extends 'thebrushstash/base.html' %}
{% load i18n %}
{% load thebrushstash_tags %}

{% block title %}
  {{ block.super }} - {% trans "Brush Care" %}
{% endblock title %}

{% block meta_description %}
  <meta name="description" content="TODO SEO description brush care">
  <meta name="keywords" content="TODO SEO keywords brush care">
{% endblock meta_description %}

{% block content %}
  <div class="brush-care-wrapper">
    <h1>{% trans "Brush Care" %}</h1>
    {% trans "Coming soon!" %}
  </div>
{% endblock content %}
