{% extends 'thebrushstash/base.html' %}
{% load i18n %}
{% load thebrushstash_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  {{ block.super }} - {% trans "Contact" %}
{% endblock title %}

{% block content %}
  <div class="contact-wrapper">
    <h1>
      {% if LANGUAGE_CODE == 'hr' %}
        {{ title_cro|safe }}
      {% else %}
        {{ title|safe }}
      {% endif %}
    </h1>
    {% if LANGUAGE_CODE == 'hr' %}
      {{ content_cro|safe }}
    {% else %}
      {{ content|safe }}
    {% endif %}
  </div>
{% endblock content %}
