{% extends 'thebrushstash/base.html' %}
{% load i18n %}
{% load thebrushstash_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
  {{ block.super }} - {% trans "FAQ" %}
{% endblock title %}

{% block content %}
  <div class="faq-wrapper">
    <h1>{% trans "FREQUENTLY ASKED QUESTIONS" %}</h1>

    {% for q_and_a_pair in faq_pairs %}
      <h4>
        {% if LANGUAGE_CODE == 'hr' %}
          {{ q_and_a_pair.question_cro|safe }}
        {% else %}
          {{ q_and_a_pair.question|safe }}
        {% endif %}
      </h4>
      <p>
        {% if LANGUAGE_CODE == 'hr' %}
          {{ q_and_a_pair.answer_cro|safe }}
        {% else %}
          {{ q_and_a_pair.answer|safe }}
        {% endif %}
      </p>
    {% endfor %}
  </div>
{% endblock content %}
