{% extends 'thebrushstash/base.html' %}
{% load thebrushstash_tags %}

{% block title %}
  {{ block.super }} - General terms and conditions
{% endblock title %}

{% block head %}
  {{ block.super }}

  {% block meta_description %}
    <meta name="description" content="TODO SEO general terms and conditions">
  {% endblock %}
  <meta name="keywords" content="TODO SEO general terms and conditions">
{% endblock head %}

{% block content %}
  <h1>
    Podaci o prodajnom mjestu
  </h1>
  <p>
    Puni naziv tvrtke:  The Brush Stash društvo s ograničenom odgovornošću za usluge
  </p>
  <p>
    Broj sudskog registra: registarski uložak s MBS 08123875
  </p>
  <p>
    Porezni broj: HR22766106537
  </p>
  <p>
    Puna adresa sjedišta: Ulica Vjenceslava Novaka 9, 10000 Zagreb, Hrvatska
  </p>
  <p>
    Mobitel: 095/3977-634
  </p>
  <p>
    E-mail za kupce: thebrushstash.shop@gmail.com
  </p>

  <h1>
    Proizvodi i/ili usluge
  </h1>
  <p>
    Točan naziv proizvoda: kozmetički kistovi
  </p>
  <p>
    Opis proizvoda: Luksuzni kozmetički kistovi ručno izrađeni u Japanu. Drške napravljene od javorovog drveta, a glave od kozje dlake.
  </p>

  <h1>
    Izjava o sigurnosti online plaćanja
  </h1>
  <p>
    Pri plaćanju na našoj web trgovini koristite CorvusPay – napredni sustav za siguran prihvat platnih kartica putem interneta.
  </p>
  <p>
    CorvusPay osigurava potpunu tajnost Vaših kartičnih podataka već od trenutka kada ih upišete u CorvusPay platni formular. Platni podaci prosljeđuju se šifrirano od Vašeg web preglednika do banke koja je izdala Vašu karticu. Naša trgovina nikada ne dolazi u kontakt s cjelovitim podacima o Vašoj platnoj kartici. Također, podaci su nedostupni čak i djelatnicima CorvusPay sustava. Izolirana jezgra samostalno prenosi i upravlja osjetljivim podacima, čuvajući ih pri tom potpuno sigurnima.
  </p>
  <p>
    Formular za upis platnih podataka osiguran je SSL transportnom šifrom najveće pouzdanosti. Svi skladišteni podaci dodatno su zaštićeni šifriranjem, korištenjem kriptografskog uređaja certificiranog prema FIPS 140-2 Level 3 standardu. CorvusPay zadovoljava sve zahtjeve vezane uz sigurnost on-line plaćanja propisane od strane vodećih kartičnih brandova, odnosno posluje sukladno normi – PCI DSS Level 1 – najviši sigurnosni standard industrije platnih kartica. Pri plaćanju karticama uvrštenim u 3-D Secure program Vaša banka uz valjanost same kartice dodatno potvrđuje i Vaš identitet pomoću tokena ili lozinke.
    Corvus Info sve prikupljene informacije smatra bankovnom tajnom i tretira ih u skladu s tim. Informacije se koriste isključivo u svrhe za koje su namijenjene. Vaši osjetljivi podaci u potpunosti su sigurni, a njihova privatnost zajamčena je najmodernijim zaštitnim mehanizmima. Prikupljaju se samo podaci nužni za obavljanje posla sukladno propisanim zahtjevnim procedurama za on-line plaćanje.
  </p>
  <p>
    Sigurnosne kontrole i operativne procedure primijenjene na našu infrastrukturu osiguravaju trenutnu pouzdanost CorvusPay sustava. Uz to održavanjem stroge kontrole pristupa, redovitim praćenjem sigurnosti i dubinskim provjerama za sprječavanje ranjivosti mreže te planskim provođenjem odredbi o informacijskoj sigurnosti trajno održavaju i unaprjeđuju stupanj sigurnosti sustava zaštitom Vaših kartičnih podataka.
    Hvala što koristite CorvusPay!
  </p>

  <h1>
    Security of Online Payments
  </h1>
  <p>
    While conducting payments on our web shop you are using CorvusPay – an advanced system for secure acceptance of credit cards on the Internet.
  </p>
  <p>
    CorvusPay ensures complete privacy of your credit card data from the moment you type them into the CorvusPay payment form. Data required for billing is forwarded encrypted from your web browser to the bank that issued your payment card. Our store never comes into contact with your sensitive payment card data. Similarly, CorvusPay operators cannot access your complete cardholder data. An isolated system core independently transmits and manages sensitive data while at the same time keeping it completely safe.
  </p>
  <p>
    The form for entering payment data is secured by an SSL transmission cipher of the greatest reliability. All stored data is additionally protected by hi-grade encryption, using hardware devices certified by FIPS 140 2 Level 3 standard. CorvusPay fulfills all of the requirements for safe online payment prescribed by the leading credit card brands, operating in compliance to the PCI DSS Level 1 standard - the highest security standard of the payment card industry. Payments made by cards enroled with the 3-D Secure program are further authenticated by the issuing bank, confirming your identity through the use of a token or a password.
  </p>
  <p>
    All information collected by Corvus Info is considered a banking secret and treated accordingly. The information is used exclusively for the purposes for which they were intended. Your sensitive data is fully
    secure and it’s privacy is guaranteed by the state of the art safeguard mechanisms. We collect only the data necessary for performing the work in accordance with the demanding prescribed procedures for online payment.
    Security controls and operating procedures applied within the CorvusPay infrastructure not only ensure current reliability of CorvusPay but permanently maintain and enhance the security levels of protecting your credit card information by maintaining strict access controls, regular security and in-depth system checks for preventing network vulnerabilities.
  </p>
  <p>
    Thank you for using CorvusPay!
  </p>

  <h1>
    Zaštita osobnih podataka
  </h1>
  <p>
      TheBrushStash obavezuje se pružati zaštitu osobnim podacima kupaca, na način da prikuplja samo nužne, osnovne podatke o kupcima/ korisnicima koji su nužni za ispunjenje naših obveza; informira kupce o načinu korištenja prikupljenih podataka, redovito daje kupcima mogućnost izbora o upotrebi njihovih podataka, uključujući mogućnost odluke žele li ili ne da se njihovo ime ukloni s lista koje se koriste za marketinške kampanje. Svi se podaci o korisnicima strogo čuvaju i dostupni su samo djelatnicima kojima su ti podaci nužni za obavljanje posla. Svi djelatnici TheBrushStasha i poslovni partneri odgovorni su za poštivanje načela zaštite privatnosti.
  </p>

  <h1>
    Payment and currency conversion disclaimer
  </h1>
  <p>
      All payments will be effected in Croatian currency. The charged amount on your credit card account is converted into your local currency according to the exchange rate of credit card associations.
  </p>
  <p>
      All payments will be effected in Croatian currency. The amount your credit card account will be charged for is obtained through the conversion of the price in Euro, Great British Pound, or American Dollar into Croatian kuna according to the current exchange rate of the Croatian National bank. When charging your credit card, the same amount is converted into your local currency according to the exchange rate of credit card associations. As a result of this conversion there is a possibility of a slight difference from the original price stated in our web site.
  </p>

  {% credit_card_secure_logos_tag %}
{% endblock content %}
