{% extends 'thebrushstash/base.html' %}
{% load thebrushstash_tags %}

{% block title %}
  {{ block.super }} - Payment and delivery
{% endblock title %}

{% block content %}
  <h1>
    PLAĆANJE I DOSTAVA
  </h1>
  <p>
    Plaćanje robe
  </p>
  Kupac se obvezuje naručene proizvode s troškovima dostave platiti prodavatelju, trgovačkom društvu The Brush Stash d.o.o. jednim od sljedećih načina plaćanja:
  <p>
    Pouzećem – u gotovini
  </p>
  Virmanski – općom uplatnicom ili Internet bankarstvom
  American Express® jednokratno
  Mastercard®, Visa i Maestro® jednokratno
  Kupoprodajni ugovor je sklopljen u trenutku primitka plaćanja.
  <p>
    Plaćate li gotovinom, svoju ćete narudžbu platiti točnim iznosom i u gotovini djelatniku kurirske službe prilikom preuzimanja robe. Kurir nudi plaćanje pouzećem kao dodatnu uslugu te se stoga i dodatno naplaćuje.
  </p>
  <p>
    Plaćate li virmanski, nakon kreiranja Vaše narudžbe, na Vaš mail stići će svi potrebni podaci za ispunjavanje naloga za prijenos (opće uplatnice). Vaša narudžba rezervira artikle i količinu. Uobičajeni model plaćanja je 01 (plaćanje po računu), ali neke banke imaju svoje oznake. Možete ostaviti i bez broja modela, ali najbolje je kontaktirati Vašu banku ukoliko nalog prijavljuje grešku. U poziv na broj svakako upišite broj narudžbe (koji ste dobili na mail sa potvrdom Vaše narudžbe).
  </p>
  <p>
    Taj broj služi za brže povezivanje Vaše uplate sa narudžbom. Uobičajeno vrijeme za potvrdu transakcija između banaka je maksimalno 48 sati. The Brush Stash d.o.o. čuva rezervaciju 3 dana. Rezervacija se može i produžiti na Vaš zahtjev, ukoliko nas kontaktirate na thebrushstash.shop@gmail.com. Roba se isporučuje nakon što je iznos prebačen na žiro račun.
  </p>
  <p>
    Plaćate li kreditnom karticom, Vaše podatke štiti sustav CorvusPay. Više pročitajte na stranici Privatnost i sigurnost.
  </p>
  <p>
    Dostava
  </p>
  Izuzev pretprodaje, većina proizvoda se u regularnoj prodaji šalje u roku od 2 do 3 radna dana i dostavlja u roku 1-2 radna dana od slanja za većinu destinacija u Hrvatskoj (za otoke i manja mjesta, pošiljke se dostavljaju prema rasporedu GLS-a).
  <p>
    U pravilu se zaprimljene narudžbe obrađuju slijedeći radni dan (od ponedjeljka do petka) i kupcu (primatelju pošiljke) šalju u roku 24 sata. Izuzetak su akcijski i sezonski periodi kada zbog povećanog broja narudžbi priprema pošiljki može iznimno potrajati duže od 24 sata.
  </p>
  <p>
    Cijena regularne (neakcijske) dostave za Hrvatsku iznosi:
  </p>
  <p>
    GLS dostava na kućnu adresu u roku 2-4 radna dana – redovna cijena 16,00 kn + PDV za narudžbe do 599,99 kn
  </p>
  GLS dostava na kućnu adresu za otoke u roku 2-4 radna dana – redovna cijena 20,00 kn + PDV za narudžbe do 599,99 kn
  GLS dostava na kućnu adresu u roku 2-4 radna dana – besplatna poštarina za narudžbe od 600,00 kn i više

  <p>
    Cijena dostave za zemlje EU:
  </p>
  <p>
    Slovenija, Mađarska, Slovačka, Austrija, Češka: GLS dostava na kućnu adresu u roku 1-4 radna dana – redovna cijena 63,00 kn + PDV
  </p>
  Poljska, Njemačka, Belgija, Nizozemska, Luksemburg: GLS dostava na kućnu adresu u roku 2-5 radna dana – redovna cijena 65,00 kn + PDV
  Rumunjska, Italija, Bugarska, Danska, Velika Britanija, Irska: GLS dostava na kućnu adresu u roku 3-5 radna dana – redovna cijena 104,00 kn + PDV
  Litva, Latvija, Estonija, Švedska, Grčka, Finska, Francuska: GLS dostava na kućnu adresu u roku 3-5 radna dana – redovna cijena 113,00 kn + PDV
  Španjolska, Portugal: GLS dostava na kućnu adresu u roku 4-6 radna dana – redovna cijena 146,00 kn + PDV
  Vrijeme tranzita je obavijesnog karaktera i nije zajamčeno.
  <p>
    Nakon narudžbe primit ćete:
  </p>
  <ul>
    <li>
      potvrdu narudžbe putem emaila, u roku od nekoliko minuta od potvrde narudžbe
    </li>
    <li>
      obavijest da je narudžba poslana GLS-om putem emaila s brojem pošiljke, najčešće u roku 1 radnog dana od potvrde narudžbe (izuzv perioda pretprodaje kad je očekivano vrijeme dostave duže)
    </li>
    <li>
      najavu da Vam pošiljka stiže sutra na adresu, SMS-om od GLS-a ako ste ostavili broj mobitela
    </li>
  </ul>
  <p>
    Tijek isporuke pošiljke možete pratiti na GLS Track &amp; Trace.
  </p>
  <p>
    Ukoliko je sadržaj pošiljke oštećen ili na bilo koji drugi način ne odgovara kupljenom, kontaktirajte nas putem emaila na thebrushstash.shop@gmail.com bez odgode.
  </p>
{% endblock content %}
