{% extends 'thebrushstash/base.html' %}

{% block title %}
  {{ block.super }} - Shipping info for {{ invoice.order_number }}
{% endblock title %}

{% block head %}
{% endblock head %}

{% block header %}
{% endblock header %}

{% block meta_description %}
{% endblock meta_description %}

{% block content %}
  <div class="customer-address-wrapper">
    <p>
      {{ invoice.order_number }}
    </p>
    <p>
      {{ invoice.address }}
    </p>
    <p>
      {{ invoice.country }}
    </p>
    <p>
      {{ invoice.city }}
    </p>
    <p>
      {{ invoice.zip_code }}
    </p>
    <p>
      {{ invoice.state_county }}
    </p>
    <p>
      {{ invoice.company_name }}
    </p>
    <p>
      {{ invoice.company_address }}
    </p>
    <p>
      {{ invoice.company_uin }}
    </p>
    <p>
      {{ invoice.first_name }}
    </p>
    <p>
      {{ invoice.last_name }}
    </p>
    {% if invoice.order_total %}
      <p>
        {{ invoice.order_total }}
      </p>
    {% endif %}
    <p>
      {{ invoice.cart }}
    </p>
  </div>
  <div class="shop-address-wrapper">
    Petrini podaci
  </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
