{% extends 'shop/shop_base.html' %}
{% load shop_tags %}
{% load thebrushstash_tags %}

{% block title %}
  {{ block.super }} - Checkout
{% endblock title %}

{% block content %}
  <div class="checkout-wrapper">
    <form id="checkout-address-form" method="post" action="{% url 'shop:purchase-completed' %}" class="checkout-form-wrapper">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {% include 'shop/includes/checkout_address_form.html' %}
      {% include 'shop/includes/checkout_payment_form.html' %}
    </form>
    {% purchase_summary_tag bag region %}
  </div>
{% endblock content %}
