{% extends 'shop/shop_base.html' %}
{% load i18n %}
{% load shop_tags %}
{% load thebrushstash_tags %}

{% block title %}
  {{ block.super }} - {% trans "Checkout" %}
{% endblock title %}

{% block content %}
  {% if region != 'hr' %}
    {% paypal_script_tag %}
  {% endif %}

  <div class="checkout-wrapper">
    <div class="checkout-form-wrapper">
      <p class="non-field-error" hidden></p>
      <form id="checkout-address-form" method="post" action="{% url 'purchase-completed' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% include 'shop/includes/checkout_address_form.html' %}
        {% include 'shop/includes/checkout_payment_form.html' %}
      </form>

      <div class="checkout-ipg-wrapper inactive">
        {% include 'shop/includes/checkout_ipg_form.html' with region=region %}
        <a href="#" class="previous-step-link">
          {% trans "Previous step" %}
        </a>
      </div>
    </div>
    {% purchase_summary_tag bag region exchange_rates currency %}
  </div>
{% endblock content %}
