{% extends 'shop/shop_base.html' %}
{% load i18n %}
{% load shop_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}
  {{ block.super }} - {{ object.name }}
{% endblock title %}

{% block meta_description %}
  <meta name="title" content="{{ object.name }}">
  <meta name="description" content="{% if LANGUAGE_CODE == 'hr' %}{{ product.foreword_cro }}{% else %}{{ product.foreword }}{% endif %}">

  <meta property="og:title" content="{{ object.name }}">
  <meta property="og:description" content="{% if LANGUAGE_CODE == 'hr' %}{{ product.foreword_cro }}{% else %}{{ product.foreword }}{% endif %}">
  {% get_image_for_model object as lead_image %}
  <meta property="og:image" content="{{ lead_image.image.url }}">
  <meta property="og:url" content="{% url 'shop:product-detail' object.slug %}">
  <meta property="og:site_name" content="The Brush Stash {% trans 'Shop' %}">

  <meta name="twitter:card" content="product_image">
  <meta name="twitter:image:alt" content="{{ object.name }}">
{% endblock meta_description %}

{% block content %}
  <div class="product-detail-wrapper">
    <div class="gallery-wrapper">
      {% get_gallery object as gallery %}
      {% for item in gallery %}
        {% if selected_item_id == '0' and forloop.first or selected_item_id == item.pk|slugify %}
          {% media_object obj=item shape='portrait' selected='true' %}
        {% else %}
          {% media_object obj=item shape='portrait' hidden='true' %}
        {% endif %}
      {% endfor %}

      <div class="thumbnails-wrapper">
        {% for item in gallery %}
          {% gallery_item object item selected_item_id forloop.first %}
        {% endfor %}
      </div>
    </div>
    <div class="detail-wrapper">
      <ul class="breadcrumbs">
        <li>
          <a href="{% url 'shop:shop' %}">{% trans "Shop" %}</a>
        </li>
        <li>
          {{ object.name }}
        </li>
      </ul>

      <h1 class="header">
        {{ object.name }}
      </h1>
      <div class="price-tag">
        {{ object.price_hrk }}
      </div>
      <p class="foreword">
        {% if LANGUAGE_CODE == 'hr' %}
          {{ product.foreword_cro }}
        {% else %}
          {{ product.foreword }}
        {% endif %}
      </p>

      <div class="ui-wrapper">
        <span>
          <select id="add-to-bag-select">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </span>
        {% include 'shop/includes/add_to_bag_button.html' with multiple="true" %}
      </div>

      <p class="fine-copy">
        {% url 'payment-and-delivery' as pandd_url %}
        {% blocktrans %}*Prices include VAT.
          <a class="link" href="{{ pandd_url }}">
            Shipping costs apply
          </a>{% endblocktrans %}
      </p>
    </div>
  </div>
  <div class="product-description-wrapper">
    <div class="text-wrapper">
      <h2>
        {% if LANGUAGE_CODE == 'hr' %}
          {{ product.title_cro }}
        {% else %}
          {{ product.title }}
        {% endif %}
      </h2>
      {% if LANGUAGE_CODE == 'hr' %}
        {{ product.description_cro|linebreaks }}
      {% else %}
        {{ product.description|linebreaks }}
      {% endif %}
    </div>
    <div class="media-wrapper">
      {% get_image_for_model obj=product standalone=True as body_image %}
      {% media_object obj=body_image shape='square' %}
    </div>
  </div>
  <div class="more-from-shop-wrapper">
    <h3>
      {% trans "More from our shop" %}
    </h3>
    <div class="more-products-wrapper">
      {% for product in other_products %}
        {% include 'shop/includes/product.html' %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
