{% extends 'shop/shop_home.html' %}
{% load thebrushstash_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}
  {{ block.super }} - {{ object.name }}
{% endblock title %}

{% block meta_description %}
  <meta name="description" content="TODO SEO description">
{% endblock %}

{% block content %}
  <div class="product-detail-wrapper">
    <div class="gallery-wrapper">
      {% get_gallery object as gallery %}
      {% for item in gallery %}
        {% if selected_item_id == '0' and forloop.first or selected_item_id == item.pk|slugify %}
          {% media_object obj=item size='small' selected='true' %}
        {% else %}
          {% media_object obj=item size='small' hidden='true' %}
        {% endif %}
      {% endfor %}

      <div class="thumbnails-wrapper">
        {% for item in gallery %}
          {% gallery_item object item selected_item_id forloop.first %}
        {% endfor %}
      </div>
    </div>
    <div class="detail-wrapper">
      <ul class="breadcrumbs">
        <li>
          <a href="{% url 'shop:shop-home' %}">Shop</a>
        </li>
        <li>
          {{ object.name }}
        </li>
      </ul>

      <h1 class="header">
        {{ object.name }}
      </h1>
      <div class="price-tag">
        {{ object.price_hrk }} kn
      </div>
      <p class="foreword">
        {{ object.foreword }}
      </p>

      <div class="ui-wrapper">
        <span>
          <select id="add-to-bag-select">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </span>
        {% include 'shop/includes/add_to_bag_button.html' with multiple="true" %}
      </div>

      <p class="fine-copy">
        *Prices include VAT.
        <a class="link" href="{% url 'payment-and-delivery' %}">
          Shipping costs apply
        </a>
      </p>
    </div>
  </div>
  <div class="product-description-wrapper">
    <div class="text-wrapper">
      <h2>
        {{ object.title}}
      </h2>
      {{ object.description|linebreaks }}
    </div>
    <div class="media-wrapper">
      {% media_object obj=object size='small' %}
    </div>
  </div>
  <div class="more-from-shop-wrapper">
    <h3>
      More from our shop
    </h3>
    <div class="more-products-wrapper">
      {% for product in other_products %}
        {% include 'shop/includes/product.html' %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
