{% load i18n %}
{% load static %}
{% load shop_tags %}
{% load inlinecss %}
{% inlinecss "css/email.css" %}

<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>{% trans "Your order has been confirmed!" %}</title>
  </head>

  <body>
    <table class="body">
      <table class="container">
        <tr>
          <td>
            <img src="{{ site_name }}{% static 'images/tbs-email-logo.jpg' %}" alt="tbs logo">
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            <br>
            {% trans "Thank you for your order and for choosing The Brush Stash! Your parcel will be packaged and shipped to your address as soon as possible." %}
            <br>
            <br>
            <p>{% trans "Your order number is:" %} {{ invoice.order_number }}</p>
            <br>
          </td>
        </tr>
      </table>

      <table class="container">
        <th width="50%">
          {% trans "BILLING TO:" %}
        </th>
        <th width="50%">
          {% trans "SHIPPING TO:" %}
        </th>
        <tr>
          <td>
            {{ invoice.first_name }} {{ invoice.last_name }}
          </td>
          <td>
            {{ invoice.first_name }} {{ invoice.last_name }}
          </td>
        </tr>
        <tr>
          <td>
            {{ invoice.address }}
          </td>
          <td>
            {{ invoice.address }}
          </td>
        </tr>
        <tr>
          <td>
            {{ invoice.zip_code }} {{ invoice.city }}
          </td>
          <td>
            {{ invoice.zip_code }} {{ invoice.city }}
          </td>
        </tr>
        <tr>
          <td>
            {{ invoice.country }}
          </td>
          <td>
            {{ invoice.country }}
          </td>
        </tr>
        {% if invoice.phone_number %}
          <tr>
            <td>
              {{ invoice.phone_number }}
            </td>
            <td>
              {{ invoice.phone_number }}
            </td>
          </tr>
        {% endif %}
        {% if invoice.company_name %}
          <tr>
            <td>
              {{ invoice.company_name }}
            </td>
            <td>
              {{ invoice.company_name }}
            </td>
          </tr>
        {% endif %}
        {% if invoice.company_address %}
          <tr>
            <td>
              {{ invoice.company_address }}
            </td>
            <td>
              {{ invoice.company_address }}
            </td>
          </tr>
        {% endif %}
        {% if invoice.company_uin %}
          <tr>
            <td>
              {{ invoice.company_uin }}
            </td>
            <td>
              {{ invoice.company_uin }}
            </td>
          </tr>
        {% endif %}
      </table>
      <br>

      <table class="container">
        <tr>
          <th colspan="5">
            {% trans "ITEMS ORDERED" %}
          </th>
        </tr>
        <tr>
          <th colspan="5">
            <hr>
          </th>
        </tr>
        <tr>
          <th width="25%">
            &nbsp;
          </th>
          <th width="25%">
            {% trans "PRODUCT" %}
          </th>
          <th width="20%">
            {% trans "PRICE" %}
          </th>
          <th width="10%">
            {% trans "QTY" %}
          </th>
          <th width="20%">
            {% trans "TOTAL" %}
          </th>
        </tr>
        {% for item in invoice_items %}
          <tr>
            <td colspan="5">
              <hr>
            </td>
          </tr>
          <tr>
            <td>
              {% get_image_url_for_email site_name item.product.pk as image_url %}
              <img width="120px" height="120px" src="{{ image_url }}" alt="{{ product.name }}">
            </td>
            <td>
              <a href="{{ site_name}}/products/{{ item.product.slug }}">{{ item.product.name }}</a>
            </td>
            <td>
              {% get_localized_price_for_currency item.product 'price' currency %}
            </td>
            <td>
              &nbsp;{{ item.sold_count }}
            </td>
            <td>
              {% get_localized_price_for_currency item.product 'price' currency item.sold_count %}
            </td>
          </tr>
        {% endfor %}
      </table>
      <br>
      <br>

      <table class="container">
        <tr>
          <th colspan="2">
            {% trans "PAYMENT:" %}
          </th>
        </tr>
        <tr>
          <th colspan="2">
            <hr>
          </th>
        </tr>
        <tr>
          <th>
            {% trans "Subtotal:" %}
          </th>
          <th>
            {% get_price_for_currency bag 'total' currency %}
          </th>
        </tr>
        <tr>
          <td>
            {% trans "VAT included:" %}
          </td>
          <td>
            {% format_price_with_currency bag.tax currency %}
          </td>
        </tr>
        <tr>
          <td>
            {% trans "Shipping:" %}
          </td>
          <td>
            {% get_price_for_currency bag 'shipping_cost' currency %}
          </td>
        </tr>
        {% if bag.fees %}
          <tr>
            <td>
              {% trans "GLS (cash on delivery):" %}
            </td>
            <td>
              {% format_price_with_currency bag.fees currency %}
            </td>
          </tr>
        {% endif %}
        <tr>
          <td colspan="2">
            <hr>
          </td>
        </tr>
        <tr>
          <th>
            {% trans "Grand total:" %}
          </th>
          <th>
            {% get_price_for_currency bag 'grand_total' currency %}
          </th>
        </tr>
      </table>
      <br>

      <table class="container">
        <tr>
          <td>{% trans 'Thank you for using The Brush Stash products!' %}</td>
        </tr>
      </table>
    </table>
  </body>
<html>
{% endinlinecss %}
