{% extends 'shop/shop_base.html' %}
{% load shop_tags %}
{% load thebrushstash_tags %}

{% block title %}
  {{ block.super }} - Review Bag
{% endblock title %}

{% block content %}
  <h1 class="review-bag-title">
    Review your bag
  </h1>
  <div class="review-bag-wrapper">
    <div class="bag-content-wrapper">
      <div class="bag-content-headers">
        <span>Product &amp; price</span>
        <span>&nbsp;</span>
        <span>Quantity</span>
        <span>Subtotal</span>
      </div>
      <div class="bag-content">
        {% for key, value in bag.products.items %}
          <div id="{{ key }}" class="bag-item-row">
            <div class="image-wrapper">
              {% get_image_by_natural_key 'shop' 'product' value.pk as image %}
              {% media_object obj=image shape='thumbnail' %}
            </div>
            <div class="bag-product-and-price">
              <span class="bag-product-name">
                {{ value.name }}
              </span>
              <span class="bag-product-price">
                {{ value.price }} kn
              </span>
            </div>
            <div class="bag-product-quantity">
              {{ value.quantity }}
            </div>
            <div class="bag-subtotal">
              <span class="bag-product-remove" data-slug="{{ key }}">
                &times;
              </span>
              <span class="bag-product-subtotal">
                {{ value.subtotal }} kn
              </span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    {% purchase_summary_tag bag region show_links='true' %}
  </div>
{% endblock content %}
