{% extends 'shop/shop_base.html' %}
{% load i18n %}
{% load shop_tags %}
{% load thebrushstash_tags %}

{% block title %}
  {{ block.super }} - {% trans "Review Your Bag" %}
{% endblock title %}

{% block content %}
  <h1 class="review-bag-title">
    {% trans "Review Your Bag" %}
  </h1>
  <div class="review-bag-wrapper">
    <div class="review-bag-mobile-ship-to-wrapper">
      {% ship_to_tag %}
    </div>
    <div class="bag-content-wrapper">
      <div class="bag-content-headers">
        <span>{% trans "Product &amp; price" %}</span>
        <span>&nbsp;</span>
        <span>{% trans "Quantity" %}</span>
        <span>{% trans "Subtotal" %}</span>
      </div>
      <div class="bag-content">
        {% for key, value in bag.products.items %}
          <div id="{{ key }}" class="bag-item-row">
            {% get_image_by_natural_key 'shop' 'product' value.pk as image %}
            {% media_object obj=image shape='thumbnail' %}
            <div class="bag-product-and-price">
              <span class="bag-product-name">
                {{ value.name }}
              </span>
              <span class="bag-product-price">
                {% get_price_for_currency value 'price' currency %}
              </span>
            </div>
            <div class="bag-product-quantity">
              {{ value.quantity }}
              <span class="bag-product-decrement" data-slug="{{ key }}"></span>
              <span class="bag-product-increment" data-slug="{{ key }}"></span>
            </div>
            <div class="bag-subtotal">
              <span class="bag-product-remove" data-slug="{{ key }}">
              </span>
              <span class="bag-product-subtotal">
                {% get_price_for_currency value 'subtotal' currency %}
              </span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    {% purchase_summary_tag bag region currency show_links='true' %}
  </div>
{% endblock content %}
