{% extends 'thebrushstash/base.html' %}

{% block title %}
  {{ block.super }} - Shop
{% endblock title %}

{% block head %}
  {{ block.super }}

  {% block meta_description %}
    <meta name="description" content="TODO SEO description">
  {% endblock %}
  <meta name="keywords" content="TODO SEO keywords">
{% endblock head %}

{% block header %}
  {{ block.super }}
{% endblock header %}

{% block content %}
  TODO shop home view content
{% endblock content %}

{% block footer %}
  {{ block.super }}
{% endblock footer %}
