{% extends 'thebrushstash/base.html' %}
{% load i18n %}
{% load shop_tags %}
{% load thebrushstash_tags %}

{% block title %}
  {{ block.super }} - {% trans "Shop" %}
{% endblock title %}

{% block head %}
  {{ block.super }}

  {% block meta_description %}
    <meta name="description" content="TODO SEO description">
  {% endblock %}
  <meta name="keywords" content="TODO SEO keywords">
{% endblock head %}

{% block content %}
  {% showcase_tag %}
  <div class="products-wrapper">
    {% for product in products %}
      {% include 'shop/includes/product.html' %}
    {% endfor %}
  </div>
{% endblock content %}
