{% extends 'thebrushstash/base.html' %}
{% load i18n %}
{% load shop_tags %}

{% block title %}
  {{ block.super }} - {% trans "Shop" %}
{% endblock title %}

{% block meta_description %}
  <meta name="description" content="TODO SEO shop description">
  <meta name="keywords" content="TODO SEO shop keywords">
{% endblock meta_description %}

{% block content %}
  {% showcase_tag %}
  <div class="content-wrapper">
    <div id="products-anchor" class="products-wrapper">
      {% for product in products %}
        {% include 'shop/includes/product.html' %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
