{% extends 'thebrushstash/base.html' %}
{% load shop_tags %}

{% block title %}
  {{ block.super }} - Image Test
{% endblock title %}

{% block content %}
  {% for test_image in object_list %}
    {% get_gallery test_image as test_image_gallery %}

    {% for gallery_item in test_image_gallery %}
      <br>
        {{ gallery_item.name }} - portrait
      <hr>
      {% media_object obj=gallery_item shape='portrait' %}
      <br>
        {{ gallery_item.name }} - landscape
      <hr>
      {% media_object obj=gallery_item shape='landscape' %}
      <br>
        {{ gallery_item.name }} - square
      <hr>
      {% media_object obj=gallery_item shape='square' %}
      <br>
        {{ gallery_item.name }} - thumbnail
      <hr>
      {% media_object obj=gallery_item shape='thumbnail' %}
    {% endfor %}
  {% endfor %}
{% endblock content %}
