{% load i18n %}
{% load shop_tags %}
{% get_image_for_model object as lead_image %}

<button
  class="add-to-bag-button"
  data-id="{{ object.pk }}"
  data-slug="{{ object.slug }}"
  data-name="{{ object.name }}"
  data-price-hrk="{{ object.price_hrk }}"
  data-price-eur="{{ object.price_eur }}"
  data-price-gbp="{{ object.price_gbp }}"
  data-price-usd="{{ object.price_usd }}"
  data-tax="{{ object.tax }}"
  {% if lead_image.image %}
    data-image-url="{{ lead_image.image.url }}"
  {% endif %}
  data-multiple="{{ multiple }}"
  {% if object.in_stock == 0 %}
    disabled
  {% endif %}
>
  {% trans "Add to bag" %}
</button>
