{% load i18n %}

<h1 class="checkout-address-title">
  {% trans "1. Delivery address" %}
</h1>
<div class="checkout-address-wrapper">
  {% if not user.is_authenticated %}
    <p class="checkout-help-text">
      {% url 'login' as login_url %}
      {% url 'shop:checkout' as checkout_url %}
      {% blocktrans %}If you already have an account you should <a href="{{ login_url }}?next={{ checkout_url }}">log in</a>. Your address information will be automatically populated.{% endblocktrans %}
    </p>
  {% else %}
    <p class="checkout-help-text">
      {% trans "Please make sure the information listed below is correct." %}
    </p>
  {% endif %}

  <div class="checkout-formfields">
    {% include 'account/includes/form_field.html' with field=form.first_name %}
    {% include 'account/includes/form_field.html' with field=form.last_name %}
    <div class="checkout-select-wrapper">
      {{ form.country }}
      <span id="id_country-error" class="error" hidden></span>
    </div>
    {% include 'account/includes/form_field.html' with field=form.address %}
    {% if region != 'hr' %}
      {% include 'account/includes/form_field.html' with field=form.state_county %}
    {% endif %}
    {% include 'account/includes/form_field.html' with field=form.city %}
    {% include 'account/includes/form_field.html' with field=form.zip_code %}
    {% include 'account/includes/form_field.html' with field=form.email %}
    {% include 'account/includes/form_field.html' with field=form.note %}
  </div>

  <div>
    {% if not user.is_authenticated %}
      <span class="checkout-checkbox-wrapper">
        {{ form.register }}
        {{ form.register.label_tag }}
      </span>
    {% endif %}

    {% if not subscribed_to_newsletter %}
      <span class="checkout-checkbox-wrapper">
        {{ form.subscribe_to_newsletter }}
        {{ form.subscribe_to_newsletter.label_tag }}
      </span>
    {% endif %}

    {% if region == 'hr' %}
      <span class="checkout-checkbox-wrapper">
        {{ form.r1_receipt }}
        {{ form.r1_receipt.label_tag }}
      </span>

      <div class="checkout-r1-fields-wrapper" hidden>
        {% include 'account/includes/form_field.html' with field=form.company_name %}
        {% include 'account/includes/form_field.html' with field=form.company_address %}
        {% include 'account/includes/form_field.html' with field=form.company_uin %}
      </div>
    {% endif %}

    <p class="checkout-help-text">
      {% url 'general-terms-and-conditions' as terms_url %}
      {% blocktrans %}Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <a href="{{ terms_url }}" target="_blank" rel="noopener noreferrer">privacy policy</a>.{% endblocktrans %}
    </p>
  </div>

  <span class="checkout-checkbox-wrapper">
    {{ form.agree_to_terms }}
    {{ form.agree_to_terms.label_tag|safe }}

    {% if form.agree_to_terms.errors %}
      <p class="checkout-field-error">
        {{ form.agree_to_terms.errors.as_text }}
      </p>
    {% endif %}
  </span>

  <button id="continue-to-payment">
    {% trans "Continue to payment" %}
  </button>
</div>
