{% load i18n %}
{% load shop_tags %}
{% load thebrushstash_tags %}

<h2 class="checkout-payment-title inactive">
  {% trans "2. Payment" %}
</h2>
<div class="checkout-payment-wrapper inactive">
  <p>
    {% trans "Select your payment method and place your order." %}
  </p>

  <div class="cash-on-delivery-wrapper">
    <span class="checkout-radio-wrapper">
      <input type="radio" id="cash-on-delivery" name="payment-method" value="cash-on-delivery" checked>
      <label for="cash-on-delivery">
        {% trans "Cash on delivery" %}
      </label>
    </span>
    <p>
      {% trans "Note: requires an additional fee for the GLS service" %} ({{ gls_fee }}).
    </p>
    <p>
      {% trans "For security reasons, every cash on delivery order must be verified by phone." %}
    </p>
  </div>
  <div id="cash-on-delivery-submit-wrapper">
    <button id="cash-on-delivery-submit-button">
      {% trans "Place order" %}
    </button>
  </div>

  {% if region != 'hr' %}
    <div class="paypal-wrapper">
      <span class="checkout-radio-wrapper">
        <input type="radio" id="paypal" name="payment-method" value="paypal">
        <label for="paypal">
          {% trans "Use PayPal" %}
        </label>
        <span class="pp-logo-icon">
          {% include 'thebrushstash/icons/paypal-logo.html' %}
        </span>
      </span>
    </div>
    <div id="paypal-submit-wrapper" class="paypal-submit-wrapper">
      <div id="paypal-button-container" class="paypal-button-container"></div>
      <script>
        paypal.Buttons({
          style: {
            size: 'responsive',
            height: 54,
            color: 'blue',
            shape: 'rect'
          },
          createOrder: function(data, actions) {
            return actions.order.create({
              purchase_units: [{
                amount: {
                  value: getPaymentInfo('total'),
                  currency: getPaymentInfo('currency')
                }
              }]
            });
          },
          onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
              processPaypalOrder()
            });
          }
        }).render('#paypal-button-container');
      </script>
    </div>
  {% endif %}

  <div class="credit-card-wrapper">
    <span class="checkout-radio-wrapper">
      <input type="radio" id="credit-card" name="payment-method" value="credit-card">
      <label for="credit-card">
        {% trans "Use a credit card" %}
      </label>
      <span class="ipg-logo-icon">
        {% include 'thebrushstash/icons/corvus-logo.html' %}
      </span>
    </span>
    <p>
      {% trans "Note: all payments are processed in Croatian Kuna (HRK). Prices in other currencies are shown for information purposes only and are calculated by the Croatian National Bank (HNB) average daily exchange rate." %}
    </p>
    {% credit_card_logos_tag 'preview' %}
  </div>
</div>
