<form action="https://test-wallet.corvuspay.com/checkout/" method="post">
  <input id="version" name="version" value="1.3" hidden />
  <input id="store_id" name="store_id" value="9079" hidden />
  <input id="order_number" name="order_number" value="brush_12334014010" hidden />
  <input id="language" name="language" value="hr" hidden />
  <input id="currency" name="currency" value="HRK" hidden />
  <input id="amount" name="amount" value="10.00" hidden />
  <input id="cart" name="cart" value="order 256" hidden />
  <input id="require_complete" name="require_complete" value="false" hidden />
  <input id="signature" name="signature" value="{{ signature }}" hidden />

  <button>Nuclear</button>
</form>
