{% load i18n %}

<form action="https://test-wallet.corvuspay.com/checkout/" method="post">
  <input id="version" name="version" value="1.3" hidden>
  <input id="store_id" name="store_id" value="9079" hidden>
  <input id="order_number" name="order_number" value="{{ order_number }}" hidden>
  <input id="language" name="language" value="hr" hidden>
  <input id="currency" name="currency" value="HRK" hidden>
  <input id="amount" name="amount" value="{{ grand_total }}" hidden>
  <input id="cart" name="cart" value="{{ cart }}" hidden>
  <input id="require_complete" name="require_complete" value="false" hidden>
  <input id="signature" name="signature" value="{{ signature }}" hidden>
  <input id="cardholder_name" name="cardholder_name" value="{{ cardholder_name }}" hidden>
  <input id="cardholder_surname" name="cardholder_surname" value="{{ cardholder_surname }}" hidden>
  <input id="cardholder_email" name="cardholder_email" value="{{ cardholder_email }}" hidden>

  <button id="ipg-form-submit-button" class="{% if region == 'hr' %} hidden{% endif %}">
    {% trans "Place order" %}
  </button>
</form>
