{% load i18n %}

<form id="ipg_checkout_form" action="{{ ipg_url }}" method="post">
  <input id="version" name="version" value="{{ api_version }}" hidden>
  <input id="store_id" name="store_id" value="{{ store_id }}" hidden>
  <input id="order_number" name="order_number" value="" hidden>
  <input id="language" name="language" value="{{ language }}" hidden>
  <input id="currency" name="currency" value="HRK" hidden>
  <input id="amount" name="amount" value="" hidden>
  <input id="cart" name="cart" value="" hidden>
  <input id="require_complete" name="require_complete" value="{{ require_complete }}" hidden>
  <input id="signature" name="signature" value="" hidden>
  <input id="cardholder_name" name="cardholder_name" value="" hidden>
  <input id="cardholder_surname" name="cardholder_surname" value="" hidden>
  <input id="cardholder_email" name="cardholder_email" value="" hidden>
  <input id="cardholder_address" name="cardholder_address" value="" hidden>
  <input id="cardholder_city" name="cardholder_city" value="" hidden>
  <input id="cardholder_zip_code" name="cardholder_zip_code" value="" hidden>
  <input id="cardholder_country" name="cardholder_country" value="" hidden>
  <input id="payment_all_dynamic" name="payment_all_dynamic" value="{{ payment_all_dynamic }}" hidden>
  <input id="payment_maestro" name="payment_maestro" value="" hidden>
  <input id="payment_master" name="payment_master" value="" hidden>
  <input id="payment_visa" name="payment_visa" value="" hidden>

  <div id="shipping-address-choice">
    <br>
    <h2 class="checkout-payment-title">
      {% trans "3. Shipping address" %}
    </h2>
    <span id="same-shipping-address-input-wrapper" class="checkout-radio-wrapper">
      <input id="same-shipping-address" type="radio" name="shipping-address" checked>
      <label for="same-shipping-address">
        {% trans "Same as billing address" %}
      </label>
    </span>
    <span id="different-shipping-address-input-wrapper" class="checkout-radio-wrapper">
      <input id="different-shipping-address" type="radio" name="shipping-address">
      <label for="different-shipping-address">
        {% trans "Use a different address" %}
      </label>
    </span>
    <span id="in-person-pickup-input-wrapper" class="checkout-radio-wrapper">
      <input id="in-person-pickup" type="radio" name="shipping-address">
      <label for="in-person-pickup">
        {% trans "In person pickup at the studio" %} - {{ studio_address }}
      </label>
    </span>
  </div>

  <div id="shipping-address" class="checkout-formfields" hidden>
    {% include 'account/includes/form_field.html' with field=form.shipping_first_name %}
    {% include 'account/includes/form_field.html' with field=form.shipping_last_name %}
    <div class="checkout-select-wrapper">
      <label for="{{ form.account_shipping_country.id_for_label }}" class="screen-reader-only">{{ form.account_shipping_country.label }}</label>
      {{ form.account_shipping_country }}
      <span class="field-label">{{ form.account_shipping_country.label }}</span>
      <span id="id_account_shipping_country-error" class="error" hidden></span>
    </div>
    {% include 'account/includes/form_field.html' with field=form.shipping_address %}
    {% include 'account/includes/form_field.html' with field=form.shipping_city %}
    {% include 'account/includes/form_field.html' with field=form.shipping_zip_code %}
    {% if region != 'hr' %}
      {% include 'account/includes/form_field.html' with field=form.shipping_state_county %}
    {% endif %}
  </div>

  <button id="ipg-form-submit-button">
    {% trans "Place order" %}
  </button>
</form>
