{% load i18n %}
{% load static %}
{% load thebrushstash_tags %}

<h2 class="checkout-payment-title inactive">
  {% trans "2. Payment" %}
</h2>
<div class="checkout-payment-wrapper inactive">
  <p>
    {% trans "Select your payment method and place your order." %}
  </p>

  {% if region == 'hr' %}
    <div class="cash-on-delivery-wrapper">
      <span class="checkout-radio-wrapper">
        <input type="radio" id="cash-on-delivery" name="payment-method" value="cash-on-delivery" checked>
        <label for="cash-on-delivery">
          {% trans "Cash on delivery" %}
        </label>
      </span>
      <p>
        {% trans "Note: requires an additional fee for the GLS service." %} ({{ gls_fee }} kn)
      </p>
      <p>
        {% trans "For security reasons, every cash on delivery order must be verified by phone." %}
      </p>
    </div>
    <div id="cash-on-delivery-submit-wrapper">
      <button id="cash-on-delivery-submit-button">
        {% trans "Place order" %}
      </button>
    </div>
  {% endif %}

  <div class="credit-card-wrapper">
    <span class="checkout-radio-wrapper">
      <input type="radio" id="credit-card" name="payment-method" value="credit-card"{% if region != 'hr' %} checked{% endif %}>
      <label for="credit-card">
        {% trans "Use a credit card" %}
      </label>
      <span class="ipg-logo-icon"></span>
    </span>
    <p>
      {% trans "Note: all payments are processed in Croatian Kuna (HRK)" %}
    </p>
    {% credit_card_logos_tag 'preview' %}
  </div>
</form>

  {% include 'shop/includes/checkout_ipg_form.html' %}
  <a href="#" class="previous-step-link">
    {% trans "Previous step" %}
  </a>
</div>
