{% load i18n %}
{% load shop_tags %}

<div class="product">
  {% if product.in_stock == 0 %}
    <div class="label-out-of-stock">
      {% trans "Coming soon" %}
    </div>
  {% else %}
    {% if product.new %}
      <div class="label-new">
        {% trans "New" %}
      </div>
    {% endif %}
  {% endif %}

  <a href="{% url 'shop:product-detail' product.slug %}">
    {% get_image_for_model product as lead_image %}
    {% media_object obj=lead_image shape='square' %}

    <h2>
      {{ product.name }}
    </h2>
    <p>
      {% if LANGUAGE_CODE == 'hr' %}
        {{ product.foreword_cro }}
      {% else %}
        {{ product.foreword }}
      {% endif %}
    </p>
    <div class="price-tag">
      {% get_localized_item_price product 'price' currency %}
    </div>
  </a>
  {% include 'shop/includes/add_to_bag_button.html' with object=product %}
</div>
